
# 🌼 자연어처리 기초 - 1차시(24.11.08)

---

## 1. 텍스트 전처리
1. 정규화 : 대소문자 통일, 용어 통일, 특수문자 제거, 정규표현식
2. 어간추출 / 표제어추출 : 단어에서 접사 제거하여 기본 형태 찾아내기, 사전에 기반하여 단어를 원형으로 변환하기
3. 불용어 제거 : 불용어 목록 정의하고 필터링
4. 토큰화 : 의미를 갖는 최소한의 단위로 나누기

In [4]:
text = 'Today is an exciting Friday'
lower_text = text.lower() # 대문자를 소문자로 변환
lower_text

'today is an exciting friday'

In [5]:
text2 = 'The weekend is short, only two days long.'
upper_text = text2.upper() # 소문자를 대문자로 변환
upper_text

'THE WEEKEND IS SHORT, ONLY TWO DAYS LONG.'

In [6]:
import re
text3 = '스마트폰은 핸드폰, 휴대폰 이라고도 할 수 있어요'
nomalized = re.sub(r'(핸드폰|휴대폰)', '스마트폰', text3)
nomalized

'스마트폰은 스마트폰, 스마트폰 이라고도 할 수 있어요'

|구성 요소|설명|예시|
|---|---|---|
|특수 문자|특정 패턴에 매칭하는 메타 문자|
|.	|임의의 한 문자와 매칭 (줄 바꿈 제외)|	a.b → "a와 b 사이에 아무 문자"|
|*	|앞에 있는 문자가 0번 이상 반복됨|	ab* → "a + 0개 이상의 b"|
|+	|앞에 있는 문자가 1번 이상 반복됨|	ab+ → "a + 1개 이상의 b"|
|?	|앞에 있는 문자가 0번 또는 1번 나타남|	ab? → "a + 0개 또는 1개의 b"|
|문자 클래스	|대괄호 안의 문자 중 하나와 매칭	|
|[abc]	|"a", "b", "c" 중 하나와 매칭	|[abc] → "a, b, 또는 c"|
|[a-z]	|소문자 알파벳 a부터 z까지의 문자 중 하나와 매칭	|[a-z] → "모든 소문자"|
|이스케이프 시퀀스	|특정 문자 그룹과 매칭	|
|\d|	숫자 (0-9)와 매칭	|\d+ → "1개 이상의 숫자"|
|\s	|공백 문자 (스페이스, 탭 등)와 매칭|	\s+ → "1개 이상의 공백"|
|\w	|알파벳, 숫자, 밑줄(_)과 매칭	|\w+ → "1개 이상의 단어 문자"|
|그룹화	|패턴을 그룹으로 묶어 매칭 및 캡처	|
|()	|괄호 안의 패턴을 그룹화하여 캡처 가능	|(\d{3})-(\d{4}) → 전화번호 패턴|

In [7]:
text4 = "안녕하세요!!! 오늘 점심은 무엇을 먹을까요? @김수빈 #Python #AI"
nomalized2 = re.sub(r'[^가-힣a-zA-Z0_9\s]','',text4)
nomalized2

'안녕하세요 오늘 점심은 무엇을 먹을까요 김수빈 Python AI'

In [8]:
text5 = "문의는 soocong@chunjae.co.kr 으로 보내주세요. 더 많은 정보는 https://chatgpt.com/ 에서 확인하세요."
without_email = re.sub(r'\S+@+\S+', '', text5)
without_email

'문의는  으로 보내주세요. 더 많은 정보는 https://chatgpt.com/ 에서 확인하세요.'

In [9]:
without_url = re.sub(r'http[s]?://\S+', '', without_email)
without_url

'문의는  으로 보내주세요. 더 많은 정보는  에서 확인하세요.'

In [10]:
# !pip install nltk

In [11]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\RMARKET\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [12]:
from nltk.stem import PorterStemmer
stemmer = PorterStemmer()
word = ['running', 'jumps', 'studies']

In [13]:
stems = []
for wor in word:
    stems.append(stemmer.stem(wor)) # 어간 추출
stems

['run', 'jump', 'studi']

In [14]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
words = ['running', 'jumps', 'studies']

In [15]:
lemmas = []
for word in words:
    lemma = lemmatizer.lemmatize(word,pos='v') # POS= : 옵션 (동사, 명사, 부사로 설정 가능)
    lemmas.append(lemma)
lemmas

['run', 'jump', 'study']

In [16]:
# pip install konlpy

In [17]:
from konlpy.tag import Okt

In [18]:
okt = Okt()
text = '달리고 있는 사람들을 보았다'

In [19]:
stems = okt.morphs(text, stem=True)
stems

['달리', '고', '있다', '사람', '들', '을', '보다']

In [20]:
lemmas = []
for word, tag in okt.pos(text):
    lemmas.append((word, tag))
lemmas

[('달리', 'Noun'),
 ('고', 'Josa'),
 ('있는', 'Adjective'),
 ('사람', 'Noun'),
 ('들', 'Suffix'),
 ('을', 'Josa'),
 ('보았다', 'Verb')]

In [21]:
# 불용어 제거
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\RMARKET\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [22]:
text= '이 문장에서 불용어라는 단어를 불용어로 처리합니다'
text.replace('불용어', '')

'이 문장에서 라는 단어를 로 처리합니다'

In [23]:
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
# stop_words

In [24]:
words = ['This', 'is', 'a', 'simple', 'example']
filtered = []

In [25]:
for word in words:
    if word.lower() not in stop_words:
        filtered.append(word)
filtered

['simple', 'example']

In [26]:
text = '불용어 예시를 실행해 봅니다.'
stop_words = {'불','를'}

In [27]:
words = okt.morphs(text)
words

['불', '용어', '예시', '를', '실행', '해', '봅니다', '.']

In [28]:
filtered_ko = []
for word in words:
    if word not in stop_words:
        filtered_ko.append(word)
filtered_ko

['용어', '예시', '실행', '해', '봅니다', '.']

## 2-1. 토큰화 (영어)
1. word_tokenize
2. TfidfVectorizer

In [29]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\RMARKET\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [30]:
nltk.__version__

'3.9.1'

In [31]:
# nltk.download() # 설치에 시간이 거리므로 설치하면 주석처리

In [32]:
from nltk.tokenize import word_tokenize
text = "It's difficult to create English sentence examples"

In [33]:
# tokens = word_tokeni

## 2-2. 토큰화 (한국어)
1. okt
2. hannanum
3. kkma

In [34]:
# pip install konlpy

In [35]:
import konlpy
from konlpy.tag import Okt, Hannanum, Kkma

In [36]:
okt = Okt() 
hannanum = Hannanum() 
kkma = Kkma()

In [37]:
text = "아버지가방에들어가신다." 
text2 = "저기저뜀틀이내가뛸뜀틀인가내가안뛸뜀틀인가"

In [38]:
print(f'okt 형태소 추출 : {okt.morphs(text)}')
print(f'hannanum 형태소 추출 : {hannanum.morphs(text)}')
print(f'kkma 형태소 추출 : {kkma.morphs(text)}') # 시간비용이 더 드는 분석기

okt 형태소 추출 : ['아버지', '가방', '에', '들어가신다', '.']

hannanum 형태소 추출 : ['아버지가방에들어가', '이', '시ㄴ다', '.']
kkma 형태소 추출 : ['아버지', '가방', '에', '들어가', '시', 'ㄴ다', '.']

In [39]:
print(f'okt 형태소 추출 : {okt.morphs(text2)}')
print(f'hannanum 형태소 추출 : {hannanum.morphs(text2)}')
print(f'kkma 형태소 추출 : {kkma.morphs(text2)}')

okt 형태소 추출 : ['저', '기', '저', '뜀틀', '이내', '가', '뛸', '뜀틀', '인가', '내', '가안', '뛸', '뜀틀', '인가']
hannanum 형태소 추출 : ['저기저뜀틀이내가뛸뜀틀인가내가안뛸뜀틀', '인가']
kkma 형태소 추출 : ['저', '기저', '뜀틀', '이내', '가', '뛰', 'ㄹ', '뜀틀', '이', 'ㄴ가', '내가', '안', '뛰', 'ㄹ', '뜀틀', '이', 'ㄴ가']

In [40]:
print(f'okt 명사 추출 : {okt.nouns(text)}')
print(f'hannanum 명사 추출 : {hannanum.nouns(text)}')
print(f'kkma 명사 추출 : {kkma.nouns(text)}')

okt 명사 추출 : ['아버지', '가방']
hannanum 명사 추출 : ['아버지가방에들어가']
kkma 명사 추출 : ['아버지', '아버지가방', '가방']

In [41]:
print(f'okt 명사 추출 : {okt.nouns(text2)}')
print(f'hannanum 명사 추출 : {hannanum.nouns(text2)}')
print(f'kkma 명사 추출 : {kkma.nouns(text2)}')

okt 명사 추출 : ['뜀틀', '이내', '뜀틀', '가안', '뜀틀']
hannanum 명사 추출 : ['저기저뜀틀이내가뛸뜀틀인가내가안뛸뜀틀']
kkma 명사 추출 : ['뜀틀', '내가', '뜀틀이내', '기저', '이내']

### Mecab
- 형태소분석기 성능 중 가장 빠르고 성능이 좋은 편으로 유명한 한국어 자연어 처리 모델
- mecab-ko-dic : https://github.com/Pusnow/mecab-ko-dic-msvc/releases/tag/mecab-ko-dic-2.1.1-20180720-msvc
- mecab-ko-msvc :https://github.com/Pusnow/mecab-ko-msvc/releases/tag/release-0.9.2-msvc-3
- https://github.com/Pusnow/mecab-python-msvc/releases
- C드라이브 바로 아래에 mecab이라는 폴더 생성 후 mecab-ko-dic, mecab-ko-msvc 파일 언패킹
- 비트에 맞는 python wheel 설치 후 anaconda3 > envs > 가상환경 > Lib > site-packages 폴더로 이동
- python version 3.9인 가상환경 실행 (Anaconda Prompt)
- 실행 후 wheel을 설치한 경로로 이동하여 pip install mecab-python3 실행
- `커널 restart 후 코드 실행`

In [42]:
from konlpy.tag import Mecab

m = Mecab(dicpath = 'C:/mecab/mecab-ko-dic')
m.nouns('한국어자연어처리')

['한국어', '자연어', '처리']

In [43]:
text = "아버지가방에들어가신다." 
text2 = "저기저뜀틀이내가뛸뜀틀인가내가안뛸뜀틀인가"

In [44]:
m.morphs(text2)

['저기',
 '저',
 '뜀틀',
 '이',
 '내',
 '가',
 '뛸',
 '뜀틀',
 '인가',
 '내',
 '가',
 '안',
 '뛸',
 '뜀틀',
 '인가']

## 3. 텍스트 벡터화
1. Bag-of-Words
2. TF-IDF

In [45]:
def bag_of_words(text):
    okt = Okt()
    text = text.replace('.', '') # 문장의 . 을 처리
    tokens = okt.morphs(text)
    word_dict = {}
    bow = []

    for token in tokens:
        if token not in word_dict:
            word_dict[token] = len(word_dict) # 인덱스 부여
            bow.append(1)
        else:
            index = word_dict[token]
            bow[index] += 1
    return word_dict, bow

In [46]:
doc = '반복되는 단어는 단어 개수 만큼 추가 됩니다..'

In [47]:
word_dict, bow = bag_of_words(doc)
print(bow)
print(word_dict)

[1, 1, 2, 1, 1, 1, 1, 1]
{'반복': 0, '되는': 1, '단어': 2, '는': 3, '개수': 4, '만큼': 5, '추가': 6, '됩니다': 7}

In [48]:
doc = '그룹 에스파 카리나가 미모를 뽐냈다. 카리나는 7일 자신의 인스타그램에 "우울할 땐 이포즈를 해봐"라는 글과 사진을 게재했다.'
word_dict, bow = bag_of_words(doc)
print(bow)
print(word_dict)

[1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
{'그룹': 0, '에스': 1, '파': 2, '카리나': 3, '가': 4, '미모': 5, '를': 6, '뽐냈다': 7, '는': 8, '7일': 9, '자신': 10, '의': 11, '인스타그램': 12, '에': 13, '"': 14, '우울할': 15, '땐': 16, '이': 17, '포즈': 18, '해봐': 19, '라는': 20, '글': 21, '과': 22, '사진': 23, '을': 24, '게재': 25, '했다': 26}

In [49]:
from sklearn.feature_extraction.text import CountVectorizer

In [50]:
corpus = ['반복되는 단어는 단어 개수만큼 추가됩니다.']
vector = CountVectorizer()
print(f'벡터화된 문장 : {vector.fit_transform(corpus).toarray()}')
print(f'단어 사전 : {vector.vocabulary_}')

벡터화된 문장 : [[1 1 1 1 1]]
단어 사전 : {'반복되는': 3, '단어는': 2, '단어': 1, '개수만큼': 0, '추가됩니다': 4}

In [51]:
vector.fit_transform(corpus).toarray() # .toarray() : 숫자 형태로 볼려면 붙여야함 (메모리의 문제??)

array([[1, 1, 1, 1, 1]], dtype=int64)

In [52]:
text = ['BOW works the same for English.']
vect = CountVectorizer(stop_words=['the', 'for'])
print(f'벡터화된 문장 : {vect.fit_transform(text).toarray()}')
print(f'단어 사전 : {vect.vocabulary_}') # vocabulary_ 속성은 텍스트 데이터의 고유 단어를 인덱스로 매핑하는 단어 사전입니다.

벡터화된 문장 : [[1 1 1 1]]
단어 사전 : {'bow': 0, 'works': 3, 'same': 2, 'english': 1}

In [53]:

vect = CountVectorizer(stop_words='english')
print(f'벡터화된 문장 : {vect.fit_transform(text).toarray()}')
print(f'단어 사전 : {vect.vocabulary_}')

벡터화된 문장 : [[1 1 1]]
단어 사전 : {'bow': 0, 'works': 2, 'english': 1}

In [54]:
import pandas as pd
from math import log
# DTM : 문서 단어 행렬 (Document Term Matrix)

docs = [
  '원숭이 엉덩이는 빨개',
  '빨간건 사과',
  '사과는 맛있어',
  '맛있으면 바나나'
]

In [55]:
vocab = []
for doc in docs:
    words = doc.split() # 단어단위로 분리(공백)
    for w in words:
        if w not in vocab:
            vocab.append(w)
vocab.sort()
vocab

['맛있어', '맛있으면', '바나나', '빨간건', '빨개', '사과', '사과는', '엉덩이는', '원숭이']

In [56]:
N = len(docs)
print(N)
def tf(t, d):
    return d.count(t)
# TF : 특정 문서 d에서 특정 단어 t의 등장 횟수

4

In [57]:
# 문서 집합에서 얼마나 흔.하.지 않은지
# df : 문서의 빈도
# docs : 문장의 집합
# doc : 한 문장씩 반환
# t : 단어
# N : 문장의 집합안의 문장의 수

def idf(t):
    df = 0 # 문서의빈도를 저장(t 가 등장하는 문서의 개수)
    for doc in docs:
        df += t in doc # True(1), False(0)로 반환 됨
    return log((N/df+1)) # df + 1로 나누는 것은 0으로 나누는 오류를 방지하기 위해

In [58]:
def tfidf(t, d): 
    return tf(t,d) *idf(t)

In [59]:
result = []
for i in range(N):
    result.append([])
    d = docs[i]

    for j in range(len(vocab)):
        t = vocab[j]
        result[-1].append(tf(t,d))

tf_ = pd.DataFrame(result, columns= vocab)
tf_

   맛있어  맛있으면  바나나  빨간건  빨개  사과  사과는  엉덩이는  원숭이
0    0     0    0    0   1   0    0     1    1
1    0     0    0    1   0   1    0     0    0
2    1     0    0    0   0   1    1     0    0
3    0     1    1    0   0   0    0     0    0

In [60]:
docs

['원숭이 엉덩이는 빨개', '빨간건 사과', '사과는 맛있어', '맛있으면 바나나']

In [61]:
result2 = []
for i in range(len(vocab)):
    t = vocab[i]
    result2.append(idf(t))

In [62]:
idf_ = pd.DataFrame(result2, index=vocab, columns=['IDF'])
idf_

           IDF
맛있어   1.609438
맛있으면  1.609438
바나나   1.609438
빨간건   1.609438
빨개    1.609438
사과    1.098612
사과는   1.609438
엉덩이는  1.609438
원숭이   1.609438

In [63]:
result3 = []
for i in range(N):
    result3.append([])
    d = docs[i]
    for j in range(len(vocab)):
        t = vocab[j]
        result3[-1].append(tfidf(t, d))

In [64]:
tfidf_ = pd.DataFrame(result3, columns=vocab)
tfidf_

        맛있어      맛있으면       바나나  ...       사과는      엉덩이는       원숭이
0  0.000000  0.000000  0.000000  ...  0.000000  1.609438  1.609438
1  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000
2  1.609438  0.000000  0.000000  ...  1.609438  0.000000  0.000000
3  0.000000  1.609438  1.609438  ...  0.000000  0.000000  0.000000

[4 rows x 9 columns]

In [65]:
# 사이킷런을 통한 TF-IDF
from sklearn.feature_extraction.text import CountVectorizer
# 사실 이거 쓰면 짱빨리됨ㅎㅎ

docs = [
  '원숭이 엉덩이는 빨개',
  '빨간건 사과',
  '사과는 맛있어',
  '맛있으면 바나나'
]

In [66]:
vector = CountVectorizer()
vector.fit_transform(docs).toarray()
print(vector.vocabulary_)

{'원숭이': 8, '엉덩이는': 7, '빨개': 4, '빨간건': 3, '사과': 5, '사과는': 6, '맛있어': 0, '맛있으면': 1, '바나나': 2}

## 4. 텍스트 임베딩 (Word2Vec)
1. CBOW
2. Skip-gram

In [67]:
# 넘파이 지우기 pip uninstall numpy
# 넘파이 재설치하기 pip install numpy==1.24.4
# gensim 설치하기 pip install gensim==3.4.0
# scipy 지우기 pip uninstall scipy
# scipy 설치하기 pip install scipy==1.9.3

In [68]:
from gensim.models import Word2Vec

sentences = [
    ['the', 'cat', 'is', 'on', 'the', 'mat'],
    ['dogs', 'are', 'in', 'the', 'garden'],
    ['we', 'love', 'playing', 'with', 'our', 'pets']
]

In [69]:
# 다 설치하고 업데이트!!!
# !pip install --upgrade gensim

In [70]:
cbow_model = Word2Vec(sentences, vector_size=100, window=5, min_count=1, sg = 0) # vector_size=100 : 오류나면 그냥 size로 수정(버전의 차이!!)
# print(f'CBOW모델을 통함 cat과 가장 유사한 단어 : {cbow_model.wv.most_similar('cat')}')
cbow_model.wv.most_similar('cat')

[('with', 0.17826786637306213),
 ('pets', 0.16072483360767365),
 ('garden', 0.10560770332813263),
 ('on', 0.09215974807739258),
 ('is', 0.027008360251784325),
 ('we', 0.00773055013269186),
 ('the', -0.037719566375017166),
 ('are', -0.045522745698690414),
 ('dogs', -0.04649786278605461),
 ('mat', -0.05902623012661934)]

In [71]:
skip_gram_model = Word2Vec(sentences, vector_size=100, window=5, min_count=1, sg = 1) # 대부분 cbow를 사용
skip_gram_model.wv.most_similar('cat')

[('with', 0.17826786637306213),
 ('pets', 0.16072483360767365),
 ('garden', 0.10560770332813263),
 ('on', 0.09215974807739258),
 ('is', 0.027008360251784325),
 ('we', 0.00773055013269186),
 ('the', -0.037719566375017166),
 ('are', -0.045522745698690414),
 ('dogs', -0.04649786278605461),
 ('mat', -0.05902623012661934)]

In [72]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vectorizer = TfidfVectorizer()
tfidf_matrix = tfidf_vectorizer.fit_transform(docs)
tfidf_matrix.toarray()

array([[0.        , 0.        , 0.        , 0.        , 0.57735027,
        0.        , 0.        , 0.57735027, 0.57735027],
       [0.        , 0.        , 0.        , 0.70710678, 0.        ,
        0.70710678, 0.        , 0.        , 0.        ],
       [0.70710678, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.70710678, 0.        , 0.        ],
       [0.        , 0.70710678, 0.70710678, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        ]])

In [74]:
data = pd.DataFrame(tfidf_matrix.toarray(), columns=vocab)
data

        맛있어      맛있으면       바나나       빨간건  ...        사과       사과는     엉덩이는      원숭이
0  0.000000  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.57735  0.57735
1  0.000000  0.000000  0.000000  0.707107  ...  0.707107  0.000000  0.00000  0.00000
2  0.707107  0.000000  0.000000  0.000000  ...  0.000000  0.707107  0.00000  0.00000
3  0.000000  0.707107  0.707107  0.000000  ...  0.000000  0.000000  0.00000  0.00000

[4 rows x 9 columns]


## 🌼마무리 문제

아래 문제들을 풀어보세요!

Q1. 음식점 리뷰 데이터를 다운로드받고 불러오세요!

In [ ]:
# pip install kagglehub

Collecting kagglehub
  Downloading kagglehub-0.3.3-py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: packaging in c:\users\rmarket\anaconda3\envs\test_env\lib\site-packages (from kagglehub) (24.1)
Collecting requests (from kagglehub)
  Downloading requests-2.32.3-py3-none-any.whl.metadata (4.6 kB)
Requirement already satisfied: tqdm in c:\users\rmarket\anaconda3\envs\test_env\lib\site-packages (from kagglehub) (4.67.0)
Collecting charset-normalizer<4,>=2 (from requests->kagglehub)
  Downloading charset_normalizer-3.4.0-cp39-cp39-win_amd64.whl.metadata (34 kB)
Collecting idna<4,>=2.5 (from requests->kagglehub)
  Downloading idna-3.10-py3-none-any.whl.metadata (10 kB)
Collecting urllib3<3,>=1.21.1 (from requests->kagglehub)
  Downloading urllib3-2.2.3-py3-none-any.whl.metadata (6.5 kB)
Collecting certifi>=2017.4.17 (from requests->kagglehub)
  Downloading certifi-2024.8.30-py3-none-any.whl.metadata (2.2 kB)
Requirement already satisfied: colorama in c:\users\rmarket\anaconda3\envs\test_env\lib\site-packages (from tqdm->kagglehub) (0.4.6)
Downloading kagglehub-0.3.3-py3-none-any.whl (42 kB)
Downloading requests-2.32.3-py3-none-any.whl (64 kB)
Downloading certifi-2024.8.30-py3-none-any.whl (167 kB)
Downloading charset_normalizer-3.4.0-cp39-cp39-win_amd64.whl (102 kB)
Downloading idna-3.10-py3-none-any.whl (70 kB)
Downloading urllib3-2.2.3-py3-none-any.whl (126 kB)
Installing collected packages: urllib3, idna, charset-normalizer, certifi, requests, kagglehub
Successfully installed certifi-2024.8.30 charset-normalizer-3.4.0 idna-3.10 kagglehub-0.3.3 requests-2.32.3 urllib3-2.2.3
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# pip install kaggle

Collecting kaggle
  Downloading kaggle-1.6.17.tar.gz (82 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: six>=1.10 in c:\users\rmarket\anaconda3\envs\test_env\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\rmarket\anaconda3\envs\test_env\lib\site-packages (from kaggle) (2024.8.30)
Requirement already satisfied: python-dateutil in c:\users\rmarket\anaconda3\envs\test_env\lib\site-packages (from kaggle) (2.9.0)
Requirement already satisfied: requests in c:\users\rmarket\anaconda3\envs\test_env\lib\site-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in c:\users\rmarket\anaconda3\envs\test_env\lib\site-packages (from kaggle) (4.67.0)
Collecting python-slugify (from kaggle)
  Downloading python_slugify-8.0.4-py2.py3-none-any.whl.metadata (8.5 kB)
Requirement already satisfied: urllib3 in c:\users\rmarket\anaconda3\envs\test_env\lib\site-packages (from kaggle) (2.2.3)
Collecting bleach (from kaggle)
  Downloading bleach-6.2.0-py3-none-any.whl.metadata (30 kB)
Collecting webencodings (from bleach->kaggle)
  Downloading webencodings-0.5.1-py2.py3-none-any.whl.metadata (2.1 kB)
Collecting text-unidecode>=1.3 (from python-slugify->kaggle)
  Downloading text_unidecode-1.3-py2.py3-none-any.whl.metadata (2.4 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\rmarket\anaconda3\envs\test_env\lib\site-packages (from requests->kaggle) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\rmarket\anaconda3\envs\test_env\lib\site-packages (from requests->kaggle) (3.10)
Requirement already satisfied: colorama in c:\users\rmarket\anaconda3\envs\test_env\lib\site-packages (from tqdm->kaggle) (0.4.6)
Downloading bleach-6.2.0-py3-none-any.whl (163 kB)
Downloading python_slugify-8.0.4-py2.py3-none-any.whl (10 kB)
Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
Downloading webencodings-0.5.1-py2.py3-none-any.whl (11 kB)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py): started
  Building wheel for kaggle (setup.py): finished with status 'done'
  Created wheel for kaggle: filename=kaggle-1.6.17-py3-none-any.whl size=105797 sha256=60dbcaeec838f5da0d60af260d6b0576e2c29af3367a7eb740c3be571595936f
  Stored in directory: c:\users\rmarket\appdata\local\pip\cache\wheels\2b\af\a9\70bffa2773af622d2ebea9c8d407720b86e67bd40c465bf837
Successfully built kaggle
Installing collected packages: webencodings, text-unidecode, python-slugify, bleach, kaggle
Successfully installed bleach-6.2.0 kaggle-1.6.17 python-slugify-8.0.4 text-unidecode-1.3 webencodings-0.5.1
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# 캐글에서 데이터 다운로드
import kagglehub
path = kagglehub.dataset_download("ninetyninenewton/kr3-korean-restaurant-reviews-with-ratings")

print("설치 파일 경로:", path)

c:\Users\RMARKET\anaconda3\envs\test_env\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloading from https://www.kaggle.com/api/v1/datasets/download/ninetyninenewton/kr3-korean-restaurant-reviews-with-ratings?dataset_version_number=1...

100%|██████████| 142M/142M [00:04<00:00, 31.2MB/s]

Extracting files...

설치 파일 경로: C:\Users\RMARKET\.cache\kagglehub\datasets\ninetyninenewton\kr3-korean-restaurant-reviews-with-ratings\versions\1

In [ ]:
# 다운받은 경로에 접근하여 csv로 읽어오기
import pandas as pd
df = pd.read_csv('C:/Users/RMARKET/.cache/kagglehub/datasets/ninetyninenewton/kr3-korean-restaurant-reviews-with-ratings/versions/1/kr3.tsv', sep='\t', encoding='utf-8')
restaurants = df.sample(n=1000, random_state=42)
# 데이터가 너무 커요~ 랜덤으로 1000개정도만 가져와봅시다 (csv가 크면 tsv)
restaurants

        Rating                                             Review
124388       1  삼겹만 먹다가 목살 먹었어요 냉면에   역시 저기압일 땐 고기 앞으로 가야쥬 잘 먹...
633594       2                                       가볼만해요 맛있더라고요
393430       0  새로 생겨서 가봤는데 생각보다는 별로였네요  라테 종류는 맛있었는데 아메리카노는 산...
547587       1  사람들이 너무 많아서 주변 분위기가 너무 시끄러웠다.. 이야기를 하기 위해서는 목청...
125026       1            밑에 뚜아앙 정신 차려라 세종에서 이 정도면 서비스 맛 다 좋은 편이다
...        ...                                                ...
216066       1  음료와 디저트가 좀 비싸고 카페 가는 길이 좀 힘들긴 해요 그래도 그게 잊힐 만큼 ...
166832       1  건강빵에 눈을 뜬 곳  건강빵도 맛있다는 걸 알게 됐어요   다른 빵보다 건강빵 등...
369894       1  600번째 리뷰는 늦었지만 화이트데이 기념으로 방문한 테이블 포포! Popo가 아니...
179061       0  양도 별로고 맛도 없고 원수 친구가 간다 해도 말릴 거 같아요. 그리고 컵이 약간 ...
323012       1                      깔끔하고 어른들이 좋아하실만한 맛 외국인들도 많이 옴

[1000 rows x 2 columns]

Q2. 리뷰의 길이와 평점 사이의 관계를 분석해보세요

1. 각 리뷰의 문자 수나 단어 수를 계산해보세요.
2. 평점에 따른 리뷰의 평균 길이를 계산하여, 평점이 높은 리뷰와 평점이 낮은 리뷰의 길이 차이를 비교해보고 시각화해보세요

In [ ]:
restaurants.info()
restaurants.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 124388 to 323012
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rating  1000 non-null   int64
 1   Review  1000 non-null   object
dtypes: int64(1), object(1)
memory usage: 23.4+ KB

           Rating
count  1000.00000
mean      1.18600
std       0.59309
min       0.00000
25%       1.00000
50%       1.00000
75%       2.00000
max       2.00000

In [ ]:
restaurants['char_count'] = restaurants['Review'].apply(lambda x: len(x.replace(" ", "")))
restaurants

        Rating                                             Review  char_count
124388       1  삼겹만 먹다가 목살 먹었어요 냉면에   역시 저기압일 땐 고기 앞으로 가야쥬 잘 먹...          36
633594       2                                       가볼만해요 맛있더라고요          11
393430       0  새로 생겨서 가봤는데 생각보다는 별로였네요  라테 종류는 맛있었는데 아메리카노는 산...         274
547587       1  사람들이 너무 많아서 주변 분위기가 너무 시끄러웠다.. 이야기를 하기 위해서는 목청...          55
125026       1            밑에 뚜아앙 정신 차려라 세종에서 이 정도면 서비스 맛 다 좋은 편이다          28
...        ...                                                ...         ...
216066       1  음료와 디저트가 좀 비싸고 카페 가는 길이 좀 힘들긴 해요 그래도 그게 잊힐 만큼 ...          62
166832       1  건강빵에 눈을 뜬 곳  건강빵도 맛있다는 걸 알게 됐어요   다른 빵보다 건강빵 등...          36
369894       1  600번째 리뷰는 늦었지만 화이트데이 기념으로 방문한 테이블 포포! Popo가 아니...         891
179061       0  양도 별로고 맛도 없고 원수 친구가 간다 해도 말릴 거 같아요. 그리고 컵이 약간 ...          44
323012       1                      깔끔하고 어른들이 좋아하실만한 맛 외국인들도 많이 옴          23

[1000 rows x 3 columns]

In [ ]:
# restaurants['Review']
res_char = restaurants.copy()
res_word = restaurants.copy()

        Rating                                             Review
124388       1  삼겹만 먹다가 목살 먹었어요 냉면에   역시 저기압일 땐 고기 앞으로 가야쥬 잘 먹...
633594       2                                       가볼만해요 맛있더라고요
393430       0  새로 생겨서 가봤는데 생각보다는 별로였네요  라테 종류는 맛있었는데 아메리카노는 산...
547587       1  사람들이 너무 많아서 주변 분위기가 너무 시끄러웠다.. 이야기를 하기 위해서는 목청...
125026       1            밑에 뚜아앙 정신 차려라 세종에서 이 정도면 서비스 맛 다 좋은 편이다
...        ...                                                ...
216066       1  음료와 디저트가 좀 비싸고 카페 가는 길이 좀 힘들긴 해요 그래도 그게 잊힐 만큼 ...
166832       1  건강빵에 눈을 뜬 곳  건강빵도 맛있다는 걸 알게 됐어요   다른 빵보다 건강빵 등...
369894       1  600번째 리뷰는 늦었지만 화이트데이 기념으로 방문한 테이블 포포! Popo가 아니...
179061       0  양도 별로고 맛도 없고 원수 친구가 간다 해도 말릴 거 같아요. 그리고 컵이 약간 ...
323012       1                      깔끔하고 어른들이 좋아하실만한 맛 외국인들도 많이 옴

[1000 rows x 2 columns]

In [ ]:
char_list = []
for char in res_char['Review']:
    char_list.append(len(char.replace(" ", "")))
res_char['char'] = char_list    
res_char

In [ ]:
word_list = []
for word in res_word['Review']:
    words = word.split()
    word_list.append(len(words))
res_word['word'] = word_list
res_word.iloc[0,1]       
res_word

        Rating                                             Review  word
124388       1  삼겹만 먹다가 목살 먹었어요 냉면에   역시 저기압일 땐 고기 앞으로 가야쥬 잘 먹...    13
633594       2                                       가볼만해요 맛있더라고요     2
393430       0  새로 생겨서 가봤는데 생각보다는 별로였네요  라테 종류는 맛있었는데 아메리카노는 산...    84
547587       1  사람들이 너무 많아서 주변 분위기가 너무 시끄러웠다.. 이야기를 하기 위해서는 목청...    16
125026       1            밑에 뚜아앙 정신 차려라 세종에서 이 정도면 서비스 맛 다 좋은 편이다    12
...        ...                                                ...   ...
216066       1  음료와 디저트가 좀 비싸고 카페 가는 길이 좀 힘들긴 해요 그래도 그게 잊힐 만큼 ...    23
166832       1  건강빵에 눈을 뜬 곳  건강빵도 맛있다는 걸 알게 됐어요   다른 빵보다 건강빵 등...    14
369894       1  600번째 리뷰는 늦었지만 화이트데이 기념으로 방문한 테이블 포포! Popo가 아니...   280
179061       0  양도 별로고 맛도 없고 원수 친구가 간다 해도 말릴 거 같아요. 그리고 컵이 약간 ...    18
323012       1                      깔끔하고 어른들이 좋아하실만한 맛 외국인들도 많이 옴     7

[1000 rows x 3 columns]

In [ ]:
# 평점에 따른 길이이이이

word = res_word.groupby('Rating')['word'].mean()
char = res_char.groupby('Rating')['char'].mean()
print(f'단어의 평균 : {word}, \n문장길이의 평균 : {char}')

단어의 평균 : Rating
0    33.050000
1    37.197068
2    26.129371
Name: word, dtype: float64,
문장길이의 평균 : Rating
0     96.190000
1    111.385993
2     77.898601
Name: char, dtype: float64

Q2. 평점에 따라 리뷰에서 자주 등장하는 단어를 분석해보세요

1. 리뷰데이터를 전처리하고 자유로운 방법으로 토큰화를 수행해보세요
2. 토큰화된 단어들의 빈도수를 계산하고 가장 많이 등장한 단어들을 bar그래프로 시각화해보세요