
# 🌼 기초 프로그래밍 및 데이터 구조 - 3차시(24.10.25)

---

## 1. 리스트

- 리스트는 여러 요소를 하나의 변수에 담을 수 있는 자료형  
- 리스트는 대괄호 `[]`로 정의하며, 요소는 쉼표로 구분

In [32]:
numbers = [1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

In [41]:
list1 = list()
print(list1)

[]

In [1]:
fruits = ['apple', 'banana', 'cherry']
print(fruits)

['apple', 'banana', 'cherry']

In [3]:
# True, False 는 앞에 대문자로 써야 한다
bool_list = [True, False]
print(bool_list)

[True, False]

In [30]:
# 리스트는 다양한 데이터 타입을 요소로 가질 수 있다.
mixed = ['apple', 100, True, 3.141592]
print(mixed)
print(mixed[0])

['apple', 100, True, 3.141592]
apple

In [7]:
# 리스트는 중복 허용
duplicates = [1, 2, 2, 3, 4, 4, 5, 5, 5]

In [6]:
duplicates

[1, 2, 2, 3, 4, 4, 5, 5, 5]

In [31]:
# 리스트 안에 리스트를 만들 수 있다
double = [1, 2, 3, [1,2,3]]
print(double)

[1, 2, 3, [1, 2, 3]]

### 연산

In [10]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

In [11]:
list3 = list1 + list2
print(list3)

[1, 2, 3, 4, 5, 6]

In [12]:
list4 = list2 + list1
print(list4)

[4, 5, 6, 1, 2, 3]

In [13]:
list5 = list1 * 2
print(list5)

[1, 2, 3, 1, 2, 3]

In [14]:
list6 = ['a', 'b', 'c']
print(list6*3)

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [15]:
length = len(list5)
print(length)

6

In [16]:
fruits = ['apple', 'banana', 'orange', 'pair', 'cherry']

In [17]:
print('banana' in fruits)

True

In [18]:
print('grape' in fruits)

False

In [19]:
print('grape' not in fruits)

True

In [ ]:
# 1. age리스트를 2번 반복하여 two_age라는 리스트를 만들고 출력해보세요.

In [26]:
age = [10, 20, 30, 40]
two_age = age*2
print(two_age)

[10, 20, 30, 40, 10, 20, 30, 40]

In [ ]:
# 2. person과 age를 결합하여 person_age 리스트를 만들고 출력해보세요.

In [27]:
person = ['수지', '지민', '민정', '지헌']
person_age = person + age
print(person_age)

['수지', '지민', '민정', '지헌', 10, 20, 30, 40]

In [ ]:
# 3. 만든 person_age의 길이를 출력해보세요.

In [40]:
length = len(person_age)
print(length)

8

In [ ]:
# 4. 만든 person_age에 '해린'이 포함되어있는지 확인하고 출력해보세요.

In [29]:
print('해린' in person_age)

False

In [35]:
# Q2. 꼭 사야할 목록 리스트인 must와 할인중인 목록인 sale 리스트가 각각 있습니다.
# 할인 중인 물건들은 2개씩 구매하려고 합니다
# 총 구매해야하는 목록을 중복 허용하여 shopping 이라는 하나의 리스트로 만들어보세요
must = ["우유", "빵", "계란", "콜라"]
sale = ["초콜릿", "커피"]

In [38]:
shopping = must + (sale*2)
print(shopping)

['우유', '빵', '계란', '콜라', '초콜릿', '커피', '초콜릿', '커피']

### 인덱싱

In [1]:
animals = ['bear', 'cat', 'dog', 'hamster', 'fox']
print(animals[0])

bear

In [3]:
print(animals[2])

dog

In [4]:
print(animals[-1])

fox

### 슬라이싱

In [5]:
print(animals[1:3]) # 1이상 3미만

['cat', 'dog']

In [6]:
print(animals[:3])

['bear', 'cat', 'dog']

In [7]:
print(animals[:])

['bear', 'cat', 'dog', 'hamster', 'fox']

In [8]:
print(animals[::2])

['bear', 'dog', 'fox']

In [9]:
print(animals[::-1]) # 순서 거꾸로

['fox', 'hamster', 'dog', 'cat', 'bear']

In [10]:
temp = [23, 22, 26, 27, 21, 25, 24]

In [11]:
weekend = temp[5:]
print(weekend)

[25, 24]

### 수정

In [12]:
animals

['bear', 'cat', 'dog', 'hamster', 'fox']

In [13]:
animals[0] = 'rabbit'

In [14]:
print(animals)

['rabbit', 'cat', 'dog', 'hamster', 'fox']

In [16]:
# Q. 다음 리스트에서 "yellow"와 "blue"를 슬라이싱과 스텝을 사용하여 추출하세요.
rainbow = ["red", "orange", "yellow", "green", "blue", "indigo" , "purple"]

In [40]:
print(rainbow[2:5:2])

['yellow', 'blue']

In [ ]:
# Q2. 좌석은 0부터 9까지의 영화관 좌석 리스트에서, 비어있는 좌석은 "empty", 예약된 좌석은 "reserved"로 표시됩니다.
# 비어있는 10개의 좌석에서 4번째, 7번째 좌석을 예약해보세요.

In [24]:
empty = [0,1,2,3,4,5,6,7,8,9]
reserved = empty[4:8:3]
print(reserved)

[4, 7]

In [42]:
# 강사님 풀이
seats = ['empty'] * 10
seats[3] = 'reserved'
seats[6] = 'reserved'
print(seats)

['empty', 'empty', 'empty', 'reserved', 'empty', 'empty', 'reserved', 'empty', 'empty', 'empty']

In [25]:
# Q3. 피자 토핑 리스트에서 인덱싱과, 슬라이싱을 사용하여 고객이 원하지 않는 'onions' 토핑을 제거한뒤 출력해보세요
toppings = ['pepperoni', 'mushrooms', 'onions', 'sausage', 'bacon']

In [30]:
toppings[2] = ''
print(toppings)

['pepperoni', 'mushrooms', '', 'sausage', 'bacon']

In [43]:
# 강사님 풀이
toppings = toppings[:2] + toppings[3:]
print(toppings)

['pepperoni', 'mushrooms', 'sausage', 'bacon']

In [32]:
# 쇼핑 리스트에서 중요한 물건이 뒤쪽에 있어 앞쪽으로 옮기려고 합니다.
# 마지막 두 항목을 리스트의 가장 앞으로 옮겨 새로운 리스트로 만들어 보세요
shopping = ["milk", "bread", "eggs", "apples", "bananas", "coffee"]

In [38]:
shopping1 = shopping[4:] + shopping[0:4]
print(shopping1)

['bananas', 'coffee', 'milk', 'bread', 'eggs', 'apples']

In [44]:
new1 = shopping[:4]
new2 = shopping[4:]
new_shopping = new2 + new1
print(new_shopping)

['bananas', 'coffee', 'milk', 'bread', 'eggs', 'apples']

### 추가
1. append()  
   - 리스트의 끝에 새로운 요소 추가
2. insert()
   - 리스트의 특정 위치에 요소 추가
   - 첫 번째 인자로 인덱스, 두 번째 인자로 추가할 값을 전달
3. extend()
   - 다른 리스트의 요소들을 한꺼번에 추가
   - 원래 리스트의 끝에 추가됨

In [45]:
fruits = ['apple', 'banana', 'cheery']

In [46]:
print(fruits)

['apple', 'banana', 'cheery']

In [47]:
fruits.append('mango')
print(fruits)

['apple', 'banana', 'cheery', 'mango']

In [48]:
fruits.insert(0,'blueberry')
print(fruits)

['blueberry', 'apple', 'banana', 'cheery', 'mango']

In [49]:
fruits.insert(3, 'peach')
print(fruits)

['blueberry', 'apple', 'banana', 'peach', 'cheery', 'mango']

In [50]:
add_fruits = ['grape', 'orange']

In [51]:
fruits.extend(add_fruits)
print(fruits)

['blueberry', 'apple', 'banana', 'peach', 'cheery', 'mango', 'grape', 'orange']

In [52]:
# Q1. 기존 guests 명단에 Alice 추가하기
# * 어떤 자리에 추가해도 무방합니다
guests = ['Bob', 'Jack', 'Dana', 'Penny']

In [53]:
guests.append('Alice')
print(guests)

['Bob', 'Jack', 'Dana', 'Penny', 'Alice']

In [71]:
guests.insert(2,"Alice")
print(guests)

['Bob', 'Jack', 'Alice', 'Dana', 'Penny', 'Alice']

In [72]:
# Q2. 기존 cart에 orange, cheese 추가 하기
# * 어떤 자리에 추가해도 무방합니다
cart = ['apple', 'banana', 'bread']

In [64]:
cart.insert(2,'orange')
cart.insert(3, 'cheese')
print(cart)

['apple', 'banana', 'orange', 'cheese', 'bread']

In [73]:
add_cart = ['orange','chesse']
cart.extend(add_cart)
print(cart)

['apple', 'banana', 'bread', 'orange', 'chesse']

In [65]:
# Q3. 투두리스트에 긴급도가 높은 중요한 일 첫 번째 항목으로 추가하기
todo = ['운동하기', '청소하기', '책읽기', '물마시기', '장보기']

In [66]:
todo.insert(0,'중요한일')
print(todo)

['중요한일', '운동하기', '청소하기', '책읽기', '물마시기', '장보기']

In [67]:
# Q4. 팀프로젝트 팀 합치기, 기존 우리팀 목록인 team에 새로운 팀원 목록인 new를 합쳐 기존 팀 리스트에 추가해보세요
team = ['Lisa', 'Son', 'Jenny']
new = ['Jack', 'Jason', 'Manny']

In [68]:
team.extend(new)
print(team)

['Lisa', 'Son', 'Jenny', 'Jack', 'Jason', 'Manny']

In [69]:
# Q5. 쇼핑하는데에 최적의 경로에 따라 들려야 할 곳을 순서대로 나열하려고 합니다.
# 비어있는 road 리스트를 만들고 (꽃집, 빵집, 편의점, 생선가게) 순으로 insert 메서드를 사용하여 리스트에 추가해보세요
road = []

In [70]:
road.insert(0, '꽃집')
road.insert(1, '빵집')
road.insert(2, '편의점')
road.insert(3, '생선가게')
print(road)

['꽃집', '빵집', '편의점', '생선가게']

### 삭제
1. remove()
   - 리스트에서 특정 값을 찾아 삭제
   - 동일한 값이 여러개 있는 경우, 첫 번째로 발견된 값만 삭제
2. pop()
   - 특정 위치의 요소를 삭제하며 그 값을 반환
   - 인덱스를 지정하지 않으면 기본적으로 마지막 요소를 삭제
3. del
   - 특정 인덱스 또는 리스트 전체를 삭제
4. clear()
   - 리스트의 모든 요소를 삭제하여 빈 리스트

In [83]:
animals = ['cat', 'dog', 'bear', 'tiger', 'cat', 'lion', 'hipo', 'hamster']

In [76]:
print(animals)

['cat', 'dog', 'bear', 'tiger', 'cat', 'lion', 'hipo', 'hamster']

In [78]:
# remove()
animals.remove('cat') # 2번 실행하면 남아있는 cat도 삭제 됨
print(animals)

['dog', 'bear', 'tiger', 'lion', 'hipo', 'hamster']

In [79]:
# pop()
last_animal = animals.pop() # 삭제된 요소를 반환하기 때문에 변수에 담아서 사용 가능
print(last_animal)
print(animals)

hamster
['dog', 'bear', 'tiger', 'lion', 'hipo']

In [80]:
first_animal = animals.pop(0) # pop은 위치지정 가능
print(first_animal)
print(animals)

dog
['bear', 'tiger', 'lion', 'hipo']

In [85]:
# del
del animals[1]
print(animals)

['cat', 'tiger', 'cat', 'lion', 'hipo', 'hamster']

In [82]:
del animals
print(animals) # del 은 강력한 삭제 기능이기 때문에 완전히 사라짐(실무에서 비추)

NameError: name 'animals' is not defined

In [86]:
animals = ['cat', 'dog', 'bear', 'tiger', 'cat', 'lion', 'hipo', 'hamster']

In [87]:
# clear
animals.clear()
print(animals) # clear는 형태는 남겨 둔다(del 은 흔적도 안남긴다)

[]

In [88]:
# Q1. 쇼핑 리스트가 너무 많아져 특정 물건을 빼려고 합니다.
# 목록에서 mouse, coffee, pen, cup을 제거해보세요. 
# 만약 지워야 하는 목록에 해당하는 물건이 여러 개 있을 경우 첫 번째 항목만 제거합니다.
shopping_cart = ['apple', 'mouse', 'coffee', 'banana', 'orange', 'pen', 'apple', 'coffee', 'milk', 'coffee', 'bread', 'cup']

In [90]:
shopping_cart.remove('mouse')
shopping_cart.remove('coffee')
shopping_cart.remove('pen')
shopping_cart.remove('cup')
print(shopping_cart)

['apple', 'banana', 'orange', 'apple', 'coffee', 'milk', 'coffee', 'bread']

In [91]:
# Q2. 카트에 담은 물건 중 가장 마지막에 추가된 물건을 뺴려고 합니다.
# 물건을 제거하고 제거된 물건이 무엇이었는지 출력해보세요.

shopping_cart = ["apple", "banana", "orange", "milk", "bread"]

In [92]:
pop_shopping_cart = shopping_cart.pop()
print(pop_shopping_cart)
print(shopping_cart)

bread
['apple', 'banana', 'orange', 'milk']

In [93]:
# Q3. 오늘 해야할 일이 리스트로 있었지만, 모든 일을 끝냈습니다. 할 일 목록을 완전히 비워보세요.

todo = ["회의 참석", "업무 분담", "회의록 작성", "유지보수", '성과보고']

In [94]:
todo.clear()
print(todo)

[]

In [112]:
# Q4. 리스트 중간에 있는 항목들을 제거하려고 합니다. Task 3~Task 5까지 제거해보세요
tasks = ["Task 1", "Task 2", "Task 3", "Task 4", "Task 5", "Task 6"]

In [113]:
del tasks[2:5]
print(tasks)

['Task 1', 'Task 2', 'Task 6']

In [ ]:
# Q5. 카트를 완전히 삭제해보세요.
cart = ["apple", "banana", "orange", "milk", "bread"]

In [115]:
del cart
print(cart)

NameError: name 'cart' is not defined

In [117]:
# Q6. 모든 프로젝트를 비워 빈 리스트로 반환해보세요
project = ["Step 1", "Step 2", "Step 3", "Step 4", "Step 5"]

In [118]:
project.clear()
print(project)

[]

In [120]:
# 람다식 (cat을 한번에 지우는 방법)
animals = ['cat', 'dog', 'rabbit', 'cat', 'cat']
a = filter(lambda x : x != 'cat',animals)
print(list(a))

['dog', 'rabbit']

### 내장함수
1. 최대값 (max)
2. 최소값 (min)
3. 합계 (sum)

In [125]:
ex_list = [3, 7, 5, 2, 8, 4, 0, 26, 53, -3]

In [122]:
max(ex_list)

53

In [126]:
min(ex_list)

-3

In [127]:
sum(ex_list)

105

In [129]:
ex_list = [3, 7, 5, 2, 8, 7, 8, 7]

In [130]:
ex_list.count(7)

3

In [131]:
ex_list2 = ['a', 'b', 'c', 'a', 'a']

In [132]:
ex_list2.count('a')

3

In [138]:
ex_list2.index('b')

1

In [139]:
ex_list2.index('a') # 중복되는 단어일 때는 가장 앞에 있는 단어의 인덱스를 출력

0

In [141]:
# Q1. 여행 갈 떄 필요한 물건 가격 리스트 입니다. 이 리스트에서 가장 비싼 가격을 출력해보세요.
prices = [12000, 8500, 15000, 6000, 7000]

In [142]:
max(prices)

15000

In [145]:
# Q2. 여행지를 이동할 떄 걸린 시간을 담은 리스트 입니다. 가장 짧게 걸린 시간을 출력해보세요
times = [3.5, 5.2, 2.0, 4.8, 6.1]

In [146]:
min(times)

2.0

In [147]:
# Q3. 여행시 지출한 경비 리스트입니다. 총 경비를 계산해보세요.
expenses = [100000, 50000, 120000, 80000, 60000]

In [148]:
sum(expenses)

410000

In [149]:
# Q4. 'apple'이 몇 번 등장하는지 출력해보세요
fruits = ['apple', 'banana', 'cherry', 'apple', 'apple', 'banana']

In [150]:
fruits.count('apple')

3

In [ ]:
# Q5. 'banana'가 처음 등장하는 인덱스를 출력해보세요.
fruits = ['apple', 'banana', 'cherry', 'apple', 'apple', 'banana']

In [151]:
fruits.index('banana')

1

In [152]:
# 위와 결과물은 같지만 print()는 사람이 보기 편한게 출력!
banana_index = fruits.index('banana')
print(banana_index)

1

### 중첩 리스트

In [153]:
duet_list = [[1,2],[3,4],[5,6]]

In [156]:
duet_list[0]

[1, 2]

In [157]:
duet_list[0][0] # 0번 인덱스 안의 0번 인덱스

1

In [161]:
duet_list[-1]

[5, 6]

In [159]:
duet_list[-1][-1]

6

In [169]:
info = [
    [100, '짱구'],
    [101, '유리'],
    [102, '훈이'],
    [103, '철수'],
    [104, '맹구'],
]

In [164]:
info[0][0]

100

In [166]:
print(f'짱구의 아이디는 {info[0][0]}로 접근한다.')

짱구의 아이디는 100로 접근한다.

In [171]:
print(f'103번의 아이디의 주인은 {info[3][-1]}')

103번의 아이디의 주인은 철수

In [170]:
print(f'마지막 아이디는 {info[-1][0]}고, 이 아이디의 주인은 {info[-1][-1]} 입니다.')

마지막 아이디는 104고, 이 아이디의 주인은 맹구 입니다.

In [172]:
ex_list = [[1, '철수','짱구'],[2,'유리','수지'], [3, '훈이','맹구']]

In [173]:
print(f'두번째 조 까지 출력하면 {ex_list[:2]} 입니다')

두번째 조 까지 출력하면 [[1, '철수', '짱구'], [2, '유리', '수지']] 입니다

In [174]:
print(f'두번째조부터 마지막 조까지 출력하면 {ex_list[1:]}입니다.')

두번째조부터 마지막 조까지 출력하면 [[2, '유리', '수지'], [3, '훈이', '맹구']]입니다.

In [176]:
print(f'{ex_list[0][1]}의 이름을 불러 오려면 인덱싱을 이렇게 해야해요!')

철수의 이름을 불러 오려면 인덱싱을 이렇게 해야해요!

In [180]:
# Q1. 전화번호와 이름 정보가 들어있는 중첩리스트에서 Alice의 전화번호를 출력해보세요
contacts = [
    ['Denny', '010-3825-7637'],
    ["Alice", "010-1234-5678"],
    ["Bob", "010-2345-6789"],
    ["Charlie", "010-3456-7890"]
]
print(f'Alice의 전화번호는 {contacts[1][1]}입니다.')

Alice의 전화번호는 010-1234-5678입니다.

In [182]:
# Q2. 학생들의 성적 중첩리스트에서 Bob의 최고 점수를 출력해보세요
students_scores = [
    ["Alice", [78, 85, 90]],
    ["Bob", [80, 82, 88]],
    ["Charlie", [90, 92, 93]]
]
print(f'Bob의 최고 점수는 {max(students_scores[1][1])}입니다')

Bob의 최고 점수는 88입니다

In [187]:
# Q3. 책 이름, 작가, 출판연도, 가격으로 이루어진 중첩리스트입니다.

books = [
    ["데미안", "헤르만 헤세", 1919, 12000],
    ["삼국지", "나관중", 1522, 15000],
    ["어린 왕자", "앙투안 드 생텍쥐페리", 1943, 13500]
]

# 1. 세 번째 책의 저자와 출판연도를 각각 출력해보세요.
# 출력 예시 : 세 번째 책의 저자는 앙투안 드 생텍쥐페리 이고, 출판 연도는 1943년입니다
print(f'세 번째 책의 저자는 {books[2][1]}이고, 출판연도는 {books[2][2]}입니다')
# 2. 모든 책의 총 가격을 계산해보세요
print(f'모든 책의 가격은 {books[0][-1]+books[1][-1]+books[2][-1]}')

세 번째 책의 저자는 앙투안 드 생텍쥐페리이고, 출판연도는 1943입니다
모든 책의 가격은 40500

In [189]:
# 풀이
author = books[2][1]
year = books[2][2]
print(f'세 번째 책의 저자는 {author}이고, 출판연도는 {year}년입니다.')
# 총 가격
cost1 = books[0][-1]
cost2 = books[1][-1]
cost3 = books[2][-1]
total = cost1 + cost2 + cost3
print(f'모든 책의 총 가격은 {total}입니다.')

세 번째 책의 저자는 앙투안 드 생텍쥐페리이고, 출판연도는 1943년입니다.
모든 책의 총 가격은 40500입니다.

## 2. 튜플(Tuple)

- 튜플은 리스트와 유사하지만, 튜플의 요소는 변경할 수 없음  
- 튜플은 소괄호 `()`로 정의

In [190]:
fruits = ('apple', 'banana', 'cherry')

In [191]:
print(fruits)

('apple', 'banana', 'cherry')

In [192]:
a = list()
print(a)

[]

In [193]:
number = (1, 2, 3, 4, 5, 6)
print(number)

(1, 2, 3, 4, 5, 6)

In [194]:
tuple2 = (1, 'apple', True, 3.5, [1,2,3, (1,2,3,4)])
print(tuple2)

(1, 'apple', True, 3.5, [1, 2, 3, (1, 2, 3, 4)])

### 연산

In [195]:
tuple1 = (1,2,3)
tuple2 = (4,5,6)

In [196]:
result = tuple1 + tuple2
print(result)

(1, 2, 3, 4, 5, 6)

In [ ]:
result = tuple2 + tuple1
print(result)

### 반복

In [197]:
tuple1 = ('apple', 'banana')
result = tuple1 * 3
print(result)

('apple', 'banana', 'apple', 'banana', 'apple', 'banana')

### in과 not in

In [198]:
numbers = (1, 2, 3, 4, 5)

In [199]:
print(f'numbers에 3이 있나요? : {3 in numbers}')

numbers에 3이 있나요? : True

In [200]:
print(f'numbers에 100이 있나요 : {100 in numbers}')

numbers에 100이 있나요 : False

In [203]:
print('A' not in numbers)

True

### 인덱싱과 슬라이싱

In [205]:
tuple1 = ('a', 'b','c','d')

In [206]:
print(tuple1[0])

a

In [207]:
print(tuple1[-1])

d

In [217]:
print(tuple1[::2])

('a', 'c')

In [209]:
tuple1[0] = 'q' # 튜플은 변하지 않는다

TypeError: 'tuple' object does not support item assignment

### 중첩 튜플

In [210]:
numbers = ((1,2,3),(4,5,6),(7,8,9))

In [212]:
numbers[0][0]

1

In [214]:
numbers[-1][-1]

9

In [215]:
numbers[1][:2]

(4, 5)

In [218]:
# Q1. 튜플의 인덱싱과 슬라이싱
test_tuple = ('p', 'j', 'y', 'a', 't', 'v', 'h', 'a', 'o', 'n', 'n')

# 1. 첫번째 요소와 마지막 요소를 각각 출력해보세요.
# 2. 'o'와 'n'만 출력해보세요.
# 3. 두칸씩 건너뛰며 슬라이싱 해보세요.

In [230]:
#1
print(test_tuple[0])
print(test_tuple[-1])
#
first = test_tuple[0]
last = test_tuple[-1]
print(first,last, sep='/')

p
n
p/n

In [223]:
#2
print(test_tuple[8:10])

('o', 'n')

In [231]:
#3
print(test_tuple[::2])

('p', 'y', 't', 'h', 'o', 'n')

In [226]:
# Q2. 세명의 학생의 두 과목 시험점수인 scores입니다.
scores = ((85, 90), (75, 80), (95, 100))

# 1. 두 번째 학생의 첫 번째 과목 점수를 출력해보세요.
# 2. 첫 번째 학생의 모든 점수를 출력해보세요.

In [228]:
print(scores[1][0])
print(scores[0])

75
(85, 90)

### 값 추가하기

In [232]:
numbers = (1, 2, 3)

In [233]:
numbers_list = list(numbers)

In [235]:
numbers_list.append(100)

In [236]:
print(numbers_list)

[1, 2, 3, 100]

In [237]:
new_numbers = tuple(numbers_list)
print(new_numbers)

(1, 2, 3, 100)

In [238]:
# Q1. 입장 순서가 나열되어있는 튜플이 있습니다.'정석'이 등장하는 위치를 출력해보세요 
# 학생 이름이 들어 있는 튜플 students 
students = ("지수", "정석", "현호", "승희", "은주", "채린")
print(students.index('정석'))

1

In [240]:
# Q2. scores 튜플에서 85가 몇 번 등장하는지 출력해보세요
scores = (85, 90, 85, 75, 90, 95, 85, 43, 85, 46, 95, 83, 84, 73, 90, 81, 85, 93)
print(f'85는 {scores.count(85)}번 등장 합니다')

85는 5번 등장 합니다

In [241]:
# Q3. pay튜플에 5000을 추가하고 전체 합계를 계산해보세요
pay = (12000, 5000, 23000, 15000, 8000)
add_pay = list(pay)
add_pay.append(5000)
new_pay = tuple(add_pay)
print(f'5000을 추가한 전체 합계는 {sum(new_pay)}입니다.')

5000을 추가한 전체 합계는 68000입니다.

In [250]:
# Q4. numbers에서 중복된 값을 제거하고 최소값을 찾아보세요.

numbers = (10, 25, 25, 50, 100, 50)
remove_numbers = list(numbers)
remove_numbers.remove(25)
remove_numbers.remove(50)
new_numbers = tuple(remove_numbers)
print(new_numbers)
print(min(new_numbers))

(10, 25, 100, 50)
10

## 3. 집합(Set)

- 중복되지 않은 요소들을 저장하는 자료형  
- 중괄호 `{}`로 정의

In [1]:
set1 = set()
print(set1)

set()

In [3]:
colors = {'red', 'green', 'blue','blue'} # 중복허용 X, 순서대로 정렬 X
print(colors)

{'green', 'red', 'blue'}

In [4]:
set1 = {1, 2, 3, 4, 5}

In [6]:
print(3 in set1)
print('a' in set1)

True
False

### 연산

In [ ]:
a = {1, 2, 3}
b = {3, 4, 5}

In [ ]:
a+b

In [ ]:
c = a|b
print(c)

In [ ]:
d = b.union(a)
print(d)

In [ ]:
print(a&b)
print(a.intersection(b))

In [ ]:
c = b - a
print(c)

In [ ]:
d = a.difference(b)
print(d)

In [ ]:
set_a = {1, 2, 3, 4, 5}
set_b = {1, 2, 3}

In [ ]:
print(set_a.issubset(set_b)) # a가 b의 부분집합인가?
print(set_a.issuperset(set_b)) # a가 b의 상위집합인가?

In [ ]:
# Q1. A와 B의 취미의 교집합을 찾아보세요.
a_hobby = {'독서', '요리', '영화감상', '운동'}
b_hobby = {'음악감상', '영화감상', '등산', '게임'}
print(a_hobby&b_hobby)

In [ ]:
common = a_hobby.intersection(b_hobby)
print(common)

In [ ]:
# Q2. 두 모임의 명단을 하나의 집합으로 취합해보세요.
orga_a = {'짱구', '유리', '철수'}
orga_b = {'훈이', '짱구', '맹구'}
print(orga_a|orga_b)

In [ ]:
all = orga_a.union(orga_b)
print(all)

In [ ]:
# Q3. 두 개의 서비스 A와 B를 사용하는 각각의 사용자 명단에서 A를 사용하지만 B는 사용하지 않는 사용자 목록을 찾아보세요.
service_a = {'Dana', 'Alice', 'Jack', 'Tomy'}
service_b = {'Hana', 'Jun', 'Alice', 'Jack'}
print(service_a - service_b)

In [ ]:
users = service_a.difference(service_b)
print(users)

In [ ]:
# Q4. 당첨숫자인 select에 내가 고른 숫자인 part가 포함되는지 확인해보세요. 
select = {8, 32, 27, 13, 26, 6}
part = {32, 13, 26}
print(part.issubset(select))
print(select.issuperset(part))
# 위의 2개의 결과는 같다. part가 select의 부분집합인가, select가 part의 상위집합인가의 차이일 뿐

### 추가
1. add()
   - 단일 요소 추가
   - 중복을 허용하지 않기 때문에 중복된 요소를 추가하려고 하면 아무런 변화가 없음
2. update()
   - 여러 요소를 한 번에 추가
   - 추가하려는 요소는 반복 가능한 객체여야 함(리스트, 튜플, 집합 등)

In [171]:
fruits = {'apple','banana'}

In [175]:
fruits.add('cheery')
print(fruits)

{'banana', 'apple', 'cheery'}

In [173]:
fruits.add('apple')
print(fruits)

{'banana', 'apple', 'cheery'}

In [38]:
fruits.update('peach') # 단일 요소는 알파벳으로 들어감
print(fruits)

{'banana', 'c', 'h', 'a', 'e', 'cheery', 'apple', 'p'}

In [40]:
fruits = {'apple','banana'}
add_set = {'peach','mango'}
fruits.update(add_set)
print(fruits)

{'banana', 'apple', 'peach', 'mango'}

In [42]:
add_set1 = ['peach','pineapple']
fruits.update(add_set1)
print(fruits)

{'banana', 'mango', 'kiwi', 'apple', 'peach', 'pineapple'}

### 삭제
1. remove()
   - 지정한 요소를 집합에서 제거
   - 해당 요소가 집합에 없으면 KeyError 발생
2. discard()
   - 지정한 요소를 제거하지만 요소가 없을 경우에도 오류가 발생하지 않음
3. pop()
   - 임의의 요소를 제거하고 그 값을 반환
   - 집합은 순서가 없기 떄문에 어떤 요소가 제거될지 알 수 없음
   - 집합이 비어있는 경우 KeyError 발생
4. clear()
   - 집합의 모든 요소를 삭제하여 빈 집합으로 만든다

In [67]:
fruits = {'apple', 'banana', 'cherry', 'melon'}

In [68]:
fruits.remove('banana')
print(fruits)

{'apple', 'melon', 'cherry'}

In [65]:
fruits.remove('grape') # 없는 요소를 삭제하면 에러가 발생

KeyError: 'grape'

In [47]:
fruits.discard('banana')
print(fruits)

{'apple', 'melon', 'cherry'}

In [49]:
fruits.discard('apple')
print(fruits)

{'melon', 'cherry'}

In [53]:
fruits = {'apple', 'banana', 'cherry', 'melon'}

In [60]:
remove_item = fruits.pop()
print(remove_item)

KeyError: 'pop from an empty set'

In [61]:
print(fruits)

set()

In [56]:
remove_item2 = fruits.pop(0) # 집합은 순서가 없어서 인덱싱이 안되기 때문에 특정 위치를 지정할 수 없다
print(remove_item2)

TypeError: set.pop() takes no arguments (1 given)

In [ ]:
fruits = {'apple', 'banana', 'cherry', 'melon'}

In [70]:
fruits.clear()
print(fruits)

set()

In [71]:
list1 = [1, 1, 2, 2, 3, 3, 4, 4, 5, 5]
print(list1)

[1, 1, 2, 2, 3, 3, 4, 4, 5, 5]

In [72]:
unique = set(list1)
print(unique)

{1, 2, 3, 4, 5}

In [75]:
# Q1. colors 집합에 red를 추가하여 출력해보세요.
colors = {'yellow', 'blue', 'green'}
colors.add('red')
print(colors)

{'green', 'yellow', 'red', 'blue'}

In [76]:
# Q2. 과일 집합인 fruits에 apple과 banana를 리스트로 추가해보세요.
fruits = {"strawberry", "grape", "orange"}
add_fruits = {'apple', 'banana'}
fruits.update(add_fruits)
print(fruits)

{'banana', 'apple', 'grape', 'strawberry', 'orange'}

In [82]:
# Q3. sample_set에서 A와 F를 에러 출력 없이 삭제해보세요.
sample_set = {'A', 'B', 'C', 'D', 'E'}
sample_set.remove('A')
sample_set.discard('F')
print(sample_set)

{'C', 'B', 'E', 'D'}

In [83]:
sample_set = {'A', 'B', 'C', 'D', 'E'}
remove_set = {'A', 'F'}

last_set = sample_set - remove_set
print(last_set)

{'E', 'C', 'B', 'D'}

In [79]:
# Q4.animals 집합에서 임의의 동물을 삭제하고 삭제한 동물과 남은 집합을 반환해 보세요.
animals = {'rabbit', 'cat', 'dog', 'hipo', 'giraff', 'elephant'}
remove_amimals = animals.pop()
print(f'삭제한 동물은 {remove_amimals}이고, 남은 동물은 {animals}이다')

삭제한 동물은 cat이고, 남은 동물은 {'giraff', 'elephant', 'hipo', 'dog', 'rabbit'}이다

In [84]:
# Q5. 리뷰데이터 리스트인 reviews에서 중복된 값을 제거한 후 출력해보세요.
reviews = ["좋아요", "감사합니다", "좋아요", "최고예요", "감사합니다", "좋아요", "최고예요", "감사합니다"]
new_reviews = list(set(reviews))
print(new_reviews)

['좋아요', '감사합니다', '최고예요']

## 4. 딕셔너리(Dictionary)

- 키(key)와 값(value)의 쌍을 저장하는 자료형
- 딕셔너리는 중괄호 `{}`로 정의하며, 키와 값은 콜론 `:`으로 구분

In [85]:
sample = dict()
print(sample)

{}

In [86]:
sample2 = dict(name='python', version=3.9)
print(sample2)

{'name': 'python', 'version': 3.9}

In [90]:
food = {
    '메뉴' : '초밥',
    '가격' : 14000,
    '지역' : '성수',
}
print(food)

{'메뉴': '초밥', '가격': 14000, '지역': '성수'}

`{'메뉴': '초밥', '가격': 14000, '지역': '성수'}`

- '메뉴' 키에 대응하는 값은 '초밥'입니다.
- '가격' 키에 대응하는 값은 '14000'입니다.
- '지역' 키에 대응하는 값은 '성수'입니다.

In [91]:
food = {
    '메뉴' : '초밥',
    '가격' : 14000,
    '지역' : '성수',
    '지역' : '용산' # 딕셔너리는 동일한 키값을 가지면 중복되지 않고 마지막 값이 출력이 된다.
}
print(food)

{'메뉴': '초밥', '가격': 14000, '지역': '용산'}

### 추가, 수정

In [92]:
food = {
    '메뉴' : '초밥',
    '가격' : 14000,
}

In [93]:
food['메뉴']

'초밥'

In [94]:
food['지역'] = '성수'
print(food)

{'메뉴': '초밥', '가격': 14000, '지역': '성수'}

In [95]:
food['가격'] = 18000
print(food)

{'메뉴': '초밥', '가격': 18000, '지역': '성수'}

### 삭제
1. del
2. pop()
3. clear()

In [176]:
food = {
    '메뉴' : '초밥',
    '가격' : 14000,
    '지역' : '성수'
}

In [97]:
del food['지역']
print(food)

{'메뉴': '초밥', '가격': 14000}

In [101]:
del food
print(food)

NameError: name 'food' is not defined

In [103]:
가격 = food.pop('가격')
print(가격)

14000

In [104]:
print(food)

{'메뉴': '초밥', '지역': '성수'}

In [105]:
food.pop() # pop 쓸 때 인자 값을 안넣으면 에러가 발생

TypeError: pop expected at least 1 argument, got 0

In [107]:
food.clear()
print(food)

{}

### 병합

In [108]:
food1 = {
    '메뉴' : '초밥',
    '가격' : 14000,
}
food2 = {
    '지역' : '성수'
}

In [110]:
merged_food = food1 | food2 # + 는 안 됨
print(merged_food)

{'메뉴': '초밥', '가격': 14000, '지역': '성수'}

In [178]:
food1 | food2

{'메뉴': '초밥', '가격': 20000, '지역': '성수'}

In [111]:
print(food1) # 변수에 저장하고 병합 해야 함

{'메뉴': '초밥', '가격': 14000}

In [112]:
food1.update(food2)
print(food1)

{'메뉴': '초밥', '가격': 14000, '지역': '성수'}

In [114]:
food1 = {
    '메뉴' : '초밥',
    '가격' : 14000,
}
food2 = {
    '메뉴' : '초밥',
    '가격' : 20000
}

In [116]:
print(food1 | food2) # 키 값이 동일하기 때문에 뒤에 더해진 가격으로 출력 된다
print(food2 | food1 )

{'메뉴': '초밥', '가격': 20000}
{'메뉴': '초밥', '가격': 14000}

### 값 호출
1. get()
   - 키를 사용해 값을 가져오며 키가 존재하지 않으면 None을 반환
   - 기본값 설정 가능
2. keys()
   - 모든 키 가져오기
3. values()
   - 모든 값 가져오기
4. items()
   - 모든 키-값 쌍 가져오기

In [ ]:
food1 = {
    '메뉴' : '초밥',
    '가격' : 14000,
}

In [117]:
메뉴 = food1.get('메뉴')
print(메뉴)

초밥

In [118]:
지역 = food1.get('지역')
print(지역)

None

In [120]:
지역 = food1.get('지역','서울') # 기존 딕셔너리에 추가된것은 아니다
print(지역)
print(food1)

서울
{'메뉴': '초밥', '가격': 14000}

In [122]:
food1 = {
    '메뉴' : '초밥',
    '가격' : 14000,
    '지역' : '성수'
}

In [123]:
keys = food1.keys()
print(keys)

dict_keys(['메뉴', '가격', '지역'])

In [124]:
valuse = food1.values()
print(valuse)

dict_values(['초밥', 14000, '성수'])

In [128]:
items = food1.items() # 출력은 튜플로 되어있는 리스트 형태로 출력
print(items)
# items(0)
type(items) # 리스트로 보이지만 리스트는 아니다

dict_items([('메뉴', '초밥'), ('가격', 14000), ('지역', '성수')])

dict_items

In [132]:
items = list(items)
print(items)
items[0][0]

[('메뉴', '초밥'), ('가격', 14000), ('지역', '성수')]

'메뉴'

In [133]:
# Q1. menu에 신메뉴인 스테이크를 24000원으로 추가하고 파스타의 가격을 15000원으로 수정해보세요
menu = dict(파스타=12000, 샐러드=8000, 수프=5000)

menu['스테이크'] = 24000
menu['파스타'] = 15000
print(menu)

{'파스타': 15000, '샐러드': 8000, '수프': 5000, '스테이크': 24000}

In [148]:
# Q2. 영화 리뷰 점수가 담긴 movie 딕셔너리에 9.5점의 리뷰 점수를 기록한 헝거게임을 추가하고 영화 범죄도시3의 리뷰 점수를 출력해보세요.
# 영화가 없는 경우 기본 점수는 5.0으로 출력합니다.

movie = {
    '인터스텔라': 8.5,
    '기생충': 9.7,
    '부산행' : 9.2
}

movie['헝거게임'] = 9.5
print(movie)
score = movie.get('범죄도시3',5.0)
print(score)

{'인터스텔라': 8.5, '기생충': 9.7, '부산행': 9.2, '헝거게임': 9.5}
5.0
{'인터스텔라': 8.5, '기생충': 9.7, '부산행': 9.2, '헝거게임': 9.5}

In [149]:
# Q3. animals 딕셔너리는 동물의 종류와 마릿수를 담고 있습니다.
# animals에서 tiger를 제거하고 나머지 동물의 종류와 마릿수를 각각 출력해보세요.

animals = {
    'lion': 4,
    'tiger': 3,
    'rabbit': 2,
    'cat': 1,
    'dog' : 101
}

del animals['tiger'] # animals.pop('tiger')
print(animals)
print(f'동물의 종류는 {[animals.keys()]}이고, 마릿수는 {animals.values()}이다')

{'lion': 4, 'rabbit': 2, 'cat': 1, 'dog': 101}
동물의 종류는 [dict_keys(['lion', 'rabbit', 'cat', 'dog'])]이고, 마릿수는 dict_values([4, 2, 1, 101])이다

In [146]:
# Q4. 알파벳과 숫자의 쌍으로 이루어진 딕셔너리 sequence1과 sequence2가 있습니다.
# 두 딕셔너리를 합치고 중복되는 값이 있는 경우 더 큰 값이 있는 쪽으로 합쳐보세요.

sequence1 = {'A' :300, 'B' : 3283, 'C' : 2354}
sequence2 = {'D' :123, 'B' : 122, 'E' :231}

total = sequence2 | sequence1
print(total)

{'D': 123, 'B': 3283, 'E': 231, 'A': 300, 'C': 2354}

In [155]:
# Q5. students에 3학년 박정민을 추가하고 2학년 최수진을 삭제해보세요

students = {
    "1학년": ["홍길동", "이영수"],
    "2학년": ["박지수", "최수진"],
    "3학년": ["김철수"],
    "4학년": ["김민지"]
}
students['3학년'] = ['김철수','박정민']
students['2학년'] = ['박지수']
print(students)

{'1학년': ['홍길동', '이영수'], '2학년': ['박지수'], '3학년': ['김철수', '박정민'], '4학년': ['김민지']}

In [156]:
students['3학년'].append('박정민')
type(students['2학년'])
del students['2학년'][-1]
print(students)

{'1학년': ['홍길동', '이영수'], '2학년': [], '3학년': ['김철수', '박정민', '박정민'], '4학년': ['김민지']}

## 5. 내장함수

- len() : 문자열, 리스트, 딕셔너리 등 길이 혹은 항목 수를 구하는데 사용
- sort() : 리스트 요소 정렬
- range() : 숫자의 시퀀스를 생성하는 함수

- 사랑하긴 했었나요 스쳐가는 인연이었나요 짧지않은 우리 함께했던 시간들이 자꾸 내 마음을 가둬두네  
- 2, 4, 6, 8, 10, 12, 14, 16, 18, 20  
- 'A' : 'a', 'B' : 'b', 'C' : 'c', 'D' : 'd', 'E' : 'e'

In [160]:
title = '사랑하긴 했었나요 스쳐가는 인연이었나요 짧지않은 우리 함께했던 시간들이 자꾸 내 마음을 가둬두네' 
two = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20 ] 
alphabet = {'A' : 'a', 'B' : 'b', 'C' : 'c', 'D' : 'd', 'E' : 'e'}

In [154]:
print(len(two))
print(len(title))
print(len(alphabet)) # 키와 값을 쌍으로 갖기 때문에 키와값을 하나로 본다

10
53
5

In [161]:
two.sort()
print(two) # 원본 리스트가 변형 된다

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [162]:
two.sort(reverse = True)
print(two)

[20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [180]:
tuple1 = (6, 2, 3, 1, 53)
sorted(tuple1) # 원본 객체가 바뀌지 않는다

[1, 2, 3, 6, 53]

In [181]:
print(tuple1)

(6, 2, 3, 1, 53)

In [165]:
alpha = {'e' : 1, 'A' : 2, 'E' : 3, 'h' : 4, 'b' : 5}
print(alpha)

{'e': 1, 'A': 2, 'E': 3, 'h': 4, 'b': 5}

In [166]:
sorted(alpha) # 키의 값이 정렬 된다

['A', 'E', 'b', 'e', 'h']

In [167]:
range(1,5)

range(1, 5)

In [168]:
for i  in range(1,5):
    print(i)

1
2
3
4

In [169]:
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8


## 🌼마무리 문제

아래 문제들을 풀어보세요!

Q1. 좋아하는 과일의 목록을 리스트로 만들어보세요. 리스트로 정렬한 후 마지막에 있는 과일을 꺼내보세요

Q2. 오늘 할일 목록을 만들고 사용자가 새로운 할 일을 추가할 수 있게 하세요. 그리고 업데이트 된 목록을 출력해보세요.

Q3. 숫자 리스트를 생성하고, 리스트의 최대값, 최소값, 평균값을 구하여 출력하세요.