
# 🌼 기초 프로그래밍 및 데이터 구조 - 1차시(24.10.23)

---

# 기초 코드
## 1. print문

print는 `'인쇄하다, 프린트를 하다'` 라는 뜻입니다.  
python은 직관적인 함수를 제공합니다.  
그렇다면 print함수는 어떤 기능을 할까요?
```python
print( )
```

In [1]:
print()

In [ ]:
print(10)

10

In [ ]:
print('10')

10

`print()`함수는 화면에 값을 출력할 때 사용됩니다.  
여러 개의 값을 쉼표로 구분하여 출력할 수도 있습니다.

```python
print('Nice','To','Meet','You')
```

위 코드를 실행하면 각 단어를 띄어쓰기로 구분하여 출력합니다.

In [ ]:
print('안', '녕', '하', '세', '요!')

안 녕 하 세 요!

In [ ]:
print('문', '자', '열', '입', '니', '다', sep='-')

문-자-열-입-니-다

In [ ]:
print('파', '이', '썬', '기', '초', sep='~')

파~이~썬~기~초

## 2. input
input함수는 `사용자의 입력`을 받을 수 있음  
이 때 입력 받는 값은 `문자열(string)`로만 반환됨
```python
input()
```

In [31]:
input()

'exist'

In [18]:
input('이름을 입력해 보세요')

'박성진'

## 3. 사칙연산

덧셈, 뺄셈, 곱셈, 나눗셈  
+ 몫, 나머지, 제곱은 어떤 기호를 사용할지 생각해봅시다!

In [9]:
10

10

In [10]:
print(10+10)

20

In [12]:
print(10-5)

5

In [13]:
print(3*6)

18

In [14]:
print(8/2)

4.0

In [15]:
print(2**10)

1024

In [16]:
print(10%3)

1

In [17]:
print(10//3)

3

## 4. 변수

python의 `변수`는 수학의 등호와는 다른 개념으로, `자료나 값을 담는 공간`을 의미합니다.

변수명 = 저장할 자료 or 값

```python 
a = 10, b = 100
```

In [19]:
a=10

In [20]:
b=100

In [22]:
a

10

In [23]:
b

100

In [24]:
a=50

In [25]:
a

50

# 🌼마무리 문제
아래 문제들을 풀어보세요!

Q1. `name`이라는 변수에 사용자의 이름을 입력받아 출력해보세요

In [49]:
name=input('이름을 입력하세요')
print(name)

박성진

Q2. `사과는 한 개에 1500원`, `바나나는 한 송이에 3000원`입니다.  
사과 한 개, 바나나 한 송이를 구매하면 총 얼마인가요?  
이 때 사과는 `apple`, 바나나는 `banana`, 총 금액은 `cost`라는 변수로 출력하세요.

In [50]:
apple=1500
banana=3000
cost=apple+banana
print(cost,'원')

4500 원

Q3. 아래 스도쿠에서 알파벳변수에 들어갈 숫자를 연산을 통해 풀어보세요  

<img src='./문제4.png'>

In [48]:
box=1+2+3+4+5+6+7+8+9
a_box=1+2+3+4+5+6+7+8
b_box=1+2+3+4+5+6+8+9
c_box=2+3+4+5+6+7+8
a=box-a_box
b=box-b_box
c=1
d=box-(c_box+c)
print(a,b,c,d)

9 7 1 9

In [47]:
print('a =', a, 'b =', b, 'c =',c,'d =',d, )

a = 9 b = 7 c = 1 d = 9