
# 🌼 기초 프로그래밍 및 데이터 구조 - 2차시(24.10.24)

---

## 1. 파이썬 자료형

파이썬에서 자주 사용되는 자료형:

- `정수형(Integer)`  
정수를 나타내는 자료형 (int)  

- `실수형(Float)`  
실수를 나타내는 자료형 (float)  

- `문자열(String)`  
문자를 나타내는 자료형 (str)  

- `불형(Boolean)`  
참(True)과 거짓(False)을 나타내는 자료형 (bool)

## 2. 정수형과 실수형

정수형(`int`)과 실수형(`float`)은 숫자를 표현하는 자료형.
- 정수형은 소수점이 없는 숫자를, 실수형은 소수점이 있는 숫자를 나타냄

In [1]:
a = 10
b = 3.141592
c = 100.0
d = -3
e = -8.5

In [4]:
print(f'a : {a}, 자료형 : {type(a)}')

a : 10, 자료형 : <class 'int'>

In [5]:
print(f'b : {b}, 자료형 : {type(b)}')

b : 3.141592, 자료형 : <class 'float'>

In [6]:
print(f'c : {c}, 자료형 : {type(c)}')

c : 100.0, 자료형 : <class 'float'>

In [9]:
print(f'd : {d}, 자료형 : {type(d)}')

d : -3, 자료형 : <class 'int'>

In [10]:
print(f'e : {e}, 자료형 : {type(e)}')

e : -8.5, 자료형 : <class 'float'>

### 정수와 실수 간 형변환

In [11]:
a

10

In [12]:
# 정수형 a를 실수형으로 형 변환
f = float(a)
print(f)

10.0

In [15]:
# 실수형 b를 정수형으로 형 변환
g = int(b)
print(f'변환된 b의 값 : {g}, 자료형 : {type(g)}')
print(b)

변환된 b의 값 : 3, 자료형 : <class 'int'>
3.141592

### 기본 산술 연산

In [18]:
A = 2
B = -5
C = 9
D = 45
E = 10
# python에서 대문자와 소문자를 구분한다

### 덧셈

In [19]:
print(f'{A} 더하기 {C} 는 {A+C} 입니다.')
# ctrl + / 를 눌러도 주석이 됩니다

2 더하기 9 는 11 입니다.

### 뺄셈

In [27]:
# 9 - 2
print(f'{C} 빼기 {A}는 {C-A} 입니다.')

9 빼기 2는 7 입니다.

### 곱셈

In [28]:
# 9 X 10
print(f'{C} 곱하기 {E}는 {C*E} 입니다')

9 곱하기 10는 90 입니다

### 나눗셈

In [21]:
# 45 / 9
print(f'{D} 나누기 {C}는 {D/C} 입니다.')

45 나누기 9는 5.0 입니다.

### 나머지

In [22]:
F = 10
G = 3

In [23]:
# F 와 G 를 나눈 나머지
print(f'{F}와 {G}를 나눈 나머지는 {F%G} 입니다.')

10와 3를 나눈 나머지는 1 입니다.

### 몫

In [26]:
# F 와 G 를 나눈 몫
print(f'{F}와 {G}를 나눈 몫은 {F//G} 입니다.')

10와 3를 나눈 몫은 3 입니다.

### 거듭제곱

In [25]:
# G의 3제곱
print(f'{G}의 3제곱은 {G**3}입니다.')

3의 3제곱은 27입니다.


## 3. 문자열(String)

문자열(`str`)은 문자의 집합  
문자열은 작은따옴표(' ') 또는 큰따옴표(" ")로 묶어 표현할 수 있음

In [1]:
str = 'python'

In [2]:
print(str)

python

In [3]:
str2 = 'string'

In [4]:
print(str2)

string

In [5]:
str2 = "string,"

In [6]:
print(str2)

string,

In [12]:
sent = """그녀는 말했다. '나는 배가 고파'"""

In [13]:
print(sent)

그녀는 말했다. '나는 배가 고파'

### 연결

In [16]:
str1 = 'Hello'
str2 = 'World'

In [17]:
str1+str2

'HelloWorld'

In [19]:
str3 = str1 + ' ' + str2
print(str3)

Hello World

### 반복

In [ ]:
str4 = (str1 + ' ') * 3
print(str4)

### 인덱싱

In [23]:
str3[0]

'H'

In [25]:
str3[1]

'e'

In [26]:
str3[2]

'l'

In [28]:
str3[5]

' '

In [32]:
str3[10]
str3[-1]

'd'

### 슬라이싱

In [33]:
str3

'Hello World'

In [34]:
str3[0:5]
# []:원하는 자릿수의 +1까지

'Hello'

In [36]:
str3[6:11]
str3[6:]
# 첫번째와 마지막은 생략 가능

'World'

In [37]:
str3[::2]

'HloWrd'

### 이스케이프 코드
<img src='./이스케이프코드.png'>

In [39]:
print('\')
# 백슬래시 하나만 사용하면 오류 발생

SyntaxError: EOL while scanning string literal (4138952293.py, line 1)

In [40]:
print('\\')

\

In [43]:
st = '''hi, "Hi"'''
print(st)

hi, "Hi"

In [42]:
st = 'hi, \"Hi\"'
print(st)

hi, "Hi"

In [44]:
print('줄바꿈\n줄바꿈')

줄바꿈
줄바꿈

In [45]:
print('띄어쓰기 네칸\t사용합니다.')

띄어쓰기 네칸	사용합니다.

### 길이 구하기

In [46]:
len_str = '객체의길이반환'

In [47]:
length = len(len_str)

In [48]:
print(length)

7

- 간장 공장 공장장은 강 공장장이고 된장 공장 공장장은 장 공장장이다

In [49]:
len_str2 = '간장 공장 공장장은 강 공장장이고 된장 공장 공장장은 장 공장장이다'

In [50]:
len(len_str2)

37

In [51]:
print(f'len_str2의 길이는 {len(len_str2)}')

len_str2의 길이는 37

### 그 외 문자열의 내장함수
1. upper(), lower()
2. strip()
3. replace()
4. split()

In [52]:
a = 'apple'
b = 'BANANA'

In [3]:
# 이렇게 사용하면 안 됨!
upper(a)

NameError: name 'upper' is not defined

In [54]:
a.upper()

'APPLE'

In [55]:
b.lower()

'banana'

In [60]:
c = '고고라고니고고'
c.strip('고')

'라고니'

In [61]:
d = '기러기'
d.strip('기')

'러'

In [63]:
e = '아파트'
e.strip('트')

'아파'

In [64]:
f = 'text'
print(f)

text

In [69]:
f.replace('x', 's')

'test'

In [67]:
f.replace('x','')

'tet'

In [70]:
n = 'Hello, World'

In [71]:
n.split(',')
# 리스트 형태로 출력

['Hello', ' World']

In [72]:
m = '띄어쓰기 기준으로 나누기'

In [73]:
m.split(' ')

['띄어쓰기', '기준으로', '나누기']

In [96]:
# Q1. 주어진 문자열을 모두 대문자로 변환해 출력해보세요
# i love python
# this is so easy
a = 'i love python'
b = 'THIS IS SO EASY'
a1 = a.upper()
b1 = b.lower()
print(a1,'\n',b1)

I LOVE PYTHON
 this is so easy

In [76]:
# Q2. 주어진 문자열을 대문자로 변환해 출력해 보세요
# pneumonoultramicroscopicsilicovolcanoconiosis
c = 'pneumonoultramicroscopicsilicovolcanoconiosis'
c.upper()

'PNEUMONOULTRAMICROSCOPICSILICOVOLCANOCONIOSIS'

In [78]:
# Q3. 양 끝에 공백이 있는 문자열에서 공백을 제거 한 뒤 출력해보세요
#         공백 비우기        
d = '         공백 비우기        '
d.strip(' ')

'공백 비우기'

In [81]:
# Q4. 문자열에서 앞 뒤 쉼표를 제거한 후 문자열의 길이를 출력해 보세요
# ,,,,,,the weather is good today,,,,,,
e = ',,,,,,the weather is good today,,,,,,'
f = e.strip(',')
print(f)
len(f)

the weather is good today

25

In [98]:
len(e.strip(','))

25

In [82]:
# Q5. 문장에서 apple을 peach로 바꿔 보세요
# I love apple
g = 'I love apple'
g.replace('apple', 'peach')

'I love peach'

In [83]:
# Q6. 문장에서 공백을 언더바(_)로 바꿔 보세요
# Fill in the gaps in this sentence
h = 'Fill in the gaps in this sentence'
h.replace(' ','_')

'Fill_in_the_gaps_in_this_sentence'

In [84]:
# Q7. 문장을 쉼표 기준으로 분할한 후 결과를 출력해보세요
# 고양이, 강아지, 햄스터
i = '고양이, 강아지, 햄스터'
i.split(',')

['고양이', ' 강아지', ' 햄스터']

In [99]:
# Q8. 문장에서 is를 was로 바꾸고 문자열을 소문자로 변환해보세요
# Python is fun. Python is interesting.
j = 'Python is fun. Python is interesting.'
k = j.replace('is','was')
k.lower()

'python was fun. python was interesting.'

In [102]:
j.replace('is','was').lower()

'python was fun. python was interesting.'

### 문자열 포매팅
- % 연산자 포매팅

In [107]:
weather = '맑음'

In [110]:
temp = 20

In [111]:
print('오늘 날씨는 %s 이고 기온은 %d 도 입니다.' %(weather, temp))

오늘 날씨는 맑음 이고 기온은 20 도 입니다.

In [112]:
# format
print('오늘 날씨는 {} 이고 기온은 {} 도 입니다.'.format(weather, temp))

오늘 날씨는 맑음 이고 기온은 20 도 입니다.

In [113]:
# f-string
print(f'오늘 날씨는 {weather} 이고, 기온은 {temp}도 입니다.')

오늘 날씨는 맑음 이고, 기온은 20도 입니다.

In [117]:
movie_title = '베테랑2'
seats = 5
price = 15000 * seats

In [118]:
print('영화 %s 의 %d 좌석을 예매 하셨습니다. 총 결제 금액은 %d 원 입니다.' %(movie_title, seats, price))

영화 베테랑2 의 5 좌석을 예매 하셨습니다. 총 결제 금액은 75000 원 입니다.

In [119]:
print('영화 {}의 {} 좌석을 예매 하셨습니다. 총 결제 금액은 {} 원 입니다.'.format(movie_title,seats,price))

영화 베테랑2의 5 좌석을 예매 하셨습니다. 총 결제 금액은 75000 원 입니다.

In [120]:
print(f'영화 {movie_title}의 {seats} 좌석을 예매 하셨습니다. 총 결제 금액은 {price} 원 입니다.')

영화 베테랑2의 5 좌석을 예매 하셨습니다. 총 결제 금액은 75000 원 입니다.

In [ ]:
# Q1. 섭씨 온도를 입력받아, 해당 온도를 화씨로 변환한 값을 출력하세요.
# 섭씨(C)를 화씨(F)로 변환하는 공식은 F = C * 9/5 + 32입니다.
# 세 가지 문자열 포매팅 방식으로 결과를 출력하세요.
# C = 20
# F = C * 9/5 + 32
# 출력 예시 : 섭씨 20도는 화씨 68.00도입니다.

In [135]:
C = 20
F = C * 9/5 + 32
print('섭씨 %d도는 화씨 %f도 입니다.' %(C,F))
# 소수점 생략
print('섭씨 %d도는 화씨 %.f도 입니다.' %(C,F))
print('섭씨 %d도는 화씨 %.2f도 입니다.' %(C,F))
# %.2 는 소수점 2번째 자리 까지
print('섭씨 {}도는 화씨 {}도 입니다.'.format(C,F))
print('섭씨 {}도는 화씨 {:f}도 입니다.'.format(C,F))
print('섭씨 {}도는 화씨 {:.2f}도 입니다.'.format(C,F))
print(f'섭씨 {C}도는 화씨 {F}도 입니다.')
print(f'섭씨 {C}도는 화씨 {F:.2f}도 입니다.')

섭씨 20도는 화씨 68.000000도 입니다.
섭씨 20도는 화씨 68도 입니다.
섭씨 20도는 화씨 68.00도 입니다.
섭씨 20도는 화씨 68.0도 입니다.
섭씨 20도는 화씨 68.000000도 입니다.
섭씨 20도는 화씨 68.00도 입니다.
섭씨 20도는 화씨 68.0도 입니다.
섭씨 20도는 화씨 68.00도 입니다.

In [ ]:
# Q2. 운전 중인 자동차의 속도와 제한 속도를 입력받아, 과속 여부를 판단하는 문장을 출력하세요.
# curren = 85
# limit = 60
# 출력 예시 : "현재 속도는 85km/h로, 제한 속도 60km/h를 초과했습니다!"

In [139]:
curren = 85
limit = 60
# 입력 (입력값은 문자형으로 입력된다)
curren = input("현재 속도를 입력하세요")
curren = int(curren) # 문자형을 int형으로 형변환
print('현재 속도는 %dkm/h로, 제한 속도 %dkm/h를 초과했습니다!' %(curren,limit))
print('현재 속도는 {}km/h로, 제한 속도 {}km/h를 초과했습니다.'.format(curren,limit))
print(f'현재 속도는 {curren}km/h로, 제한속도 {limit}km/h를 초과했습니다')

현재 속도는 120km/h로, 제한 속도 60km/h를 초과했습니다!
현재 속도는 120km/h로, 제한 속도 60km/h를 초과했습니다.
현재 속도는 120km/h로, 제한속도 60km/h를 초과했습니다

In [ ]:
# Q3. 사용자가 주문한 음료와 가격을 입력받아, 주문 내역을 출력하세요. 음료는 10% 할인됩니다
# 10% 할인된 금액을 계산해서 같이 출력하세요.
# 출력 예시 :
# drink = "커피"
# price = 4500
# discount_price = price * 0.9
#  출력 예시 :  "커피 1잔의 원래 가격은 4,500원이고, 할인된 가격은 4,050원입니다."

In [180]:
drink = "커피"
price = 4500
discount_price = price * 0.9
print('%s 1잔의 원래 가격은 %d원 이고, 할인된 가격은 %d원 입니다.' %(drink,price,discount_price))
print('{} 1잔의 원래 가격은 {}원 이고, 할인된 가격은 {}원 입니다.'.format(drink,price,discount_price))
print(f'{drink} 1잔의 가격은 {price}이고, 할인된 가격은 {discount_price}원 입니다.')

커피 1잔의 원래 가격은 4500원 이고, 할인된 가격은 4050원 입니다.
커피 1잔의 원래 가격은 4500원 이고, 할인된 가격은 4050.0원 입니다.
커피 1잔의 가격은 4500이고, 할인된 가격은 4050.0원 입니다.


## 4. 불형(Boolean)

불형(`bool`)은 논리값인 참(True)과 거짓(False)  
주로 조건문에서 사용됨

In [140]:
# 불형 예시
student = True
teacher = False

In [141]:
print(f'student 값 : {student}, 자료형 : {type(student)}')

student 값 : True, 자료형 : <class 'bool'>

In [142]:
print(f'teacher 값 : {teacher}, 자료형 : {type(teacher)}')

teacher 값 : False, 자료형 : <class 'bool'>

### 비교연산자

In [143]:
A = 3
B = 5
C = 8

In [144]:
A==B

False

In [145]:
B!=C

True

In [146]:
A>B

False

In [147]:
B<=C

True

In [151]:
a = 5
b = 10
result = a==b
print(result)

False

In [153]:
a = input('아무 값이나 입력 하세요(단, 숫자로)')
b = int(a)
c = 50
result = b == c
print(result)

True

In [156]:
age = input('나이를 입력하세요')
age = int(age)
result = age >= 18
print(result)

True

In [159]:
x = input('숫자를 입력하세요')
result = 10 <= int(x) <=20
print(result)

False

### 논리연산자

In [160]:
print(f'AND 연산자 : {student and teacher}')

AND 연산자 : False

In [161]:
print(f'OR 연산자 : {student or teacher}')

OR 연산자 : True

In [162]:
print(f'NOT 연산자 : {not student}')

NOT 연산자 : False

In [164]:
x = 12
y = 15
result = x >= 10 and y <=10
print(result)

False

In [165]:
a = -5
b = 10
result = a > 0 or b > 0
print(result)

True

In [166]:
x = 5
reult = not (x==0)
print(result)

True

In [167]:
text = 'python'
result = len(text) >= 5 
print(result)

True

In [ ]:
# Q1. 사용자에게 입력 받은 숫자 'x'의 값이 짝수인지 확인하여 결과를 출력해주는 연산을 만들어보세요

In [181]:
x = input('숫자를 입력하세요')
result = int(x) % 2 == 0 
print(result)

True

In [ ]:
# Q2. 사용자에게 입력 받은 숫자 'x'의 값이 음수인지 확인하여 결과를 출력해주는 연산을 만들어보세요

In [188]:
x = int(input('숫자를 입력 하세요'))
result = x < 0
print(result)

False

In [ ]:
# Q3. 사용자에게 입력 받은 숫자 'x'의 값이 0 이상 100 이하의 범위에 있는지 결과를 출력해주는 연산을 만들어보세요

In [171]:
x = input('숫자를 입력하세요')
result = 0 <= int(x) <= 100
print(result)

False

In [ ]:
# Q4. 로그인 확인하기, 사용자가 입력한 username과 password가 저장된 username = 'python' password = 123 값과 일치하는지 확인하세요.

In [186]:
username = input('이름을 입력하세요')
password = int(input('패스워드를 입력하세요'))
result = username == 'python' and password == 123
print(result)

True

In [182]:
username = 'python'
password = 123
input_username = input('username을 입력하세요')
input_password = int(input('password를 입력 하세요'))
result = (username == input_username) and (password == input_password)
print(result)

True


## 🌼마무리 문제

아래 문제들을 풀어보세요!

Q1. 사용자로부터 이름과 나이를 `입력받아`, "안녕하세요, '이름'님. 당신은 '나이'세 이시군요!"라고 출력하는 코드를 작성해보세요

In [197]:
name = input('이름을 입력하세요')
age = int(input('나이를 입력하세요'))
print(f"안녕하세요, '{name}'님. 당신은\'{age}\'세 이시군요!")

안녕하세요, '성진'님. 당신은'1000'세 이시군요!

Q2. 문자열을 입력받아 그 문자열을 `뒤집어서` 출력하는 코드를 작성해보세요

In [198]:
sent = input('문자를 입력하세요')
reverse = sent[::-1]
print(reverse)

요세하녕안

Q3. BMI(체질량지수)를 계산하는 프로그램을 작성하세요.  
사용자로부터 키(m)와 체중(kg)을 `입력받아` 계산 후 출력하세요.  
`*BMI계산법 : 체중(kg) / (키(m) x 키(m))`

In [204]:
height = float(input('키(m)를 입력하세요'))
weight = float(input('체중(kg)을 입력하세요'))
print(height)
print(weight)
bmi = weight/(height **2)
print(f'당신의 BMI는 {bmi:.2f} 입니다')

1.72
70.0
당신의 BMI는 23.66 입니다