
# 🌼 기초 프로그래밍 및 데이터 구조 - 5차시(24.10.29)

---

## 1. 함수

- 함수는 반복적으로 사용되는 코드를 하나로 묶어 놓은 코드 블록
- 함수를 정의하면 코드의 재사용성을 높일 수 있음

In [1]:
def greet():
    print('Hello, world!')

In [ ]:
greet()

In [ ]:
print('지금은 9시입니다')
print('지금은 10시입니다')
print('지금은 11시입니다')

In [4]:
def time(number):
    print(f'지금은 {number}시 입니다.')

In [ ]:
time(4)
time(5)

In [7]:
def add(a, b):
    print(a+b)

In [ ]:
add(2, 3)

In [ ]:
add()

## 2. return
- `return` 은 함수의 결과를 함수 외부로 반환할 때 사용

In [10]:
def add_print(a, b):
    print(a+b)

In [ ]:
add_print(5, 3) + 5

In [13]:
def add_print(a, b):
    return a+b

In [ ]:
add_print(5, 3)

In [ ]:
add_print(5, 3) + 5

In [16]:
def add_mult(a, b):
    add = a + b
    mult = a * b
    return add, mult

In [ ]:
add_mult(3, 5)

In [18]:
result1, result2 = add_mult(3, 5)

In [ ]:
print(result1, result2, sep='/')

In [20]:
def payment(price, pay):
    if pay < price :
        return print(f'금액이 부족합니다. 부족한 금액 : {abs(pay-price)}원')
    else:
        return print(f'결제되었습니다. 거스름돈 : {abs(price-pay)}원')

In [ ]:
payment(800, 500)

In [25]:
# Q1. 사용자에게 값을 입력 받아 입력 받은 숫자의 구구단을 출력하는 함수를 작성해보세요.
def func():
    number = int(input('값을 입력하세요'))
    for i in range(1,10):
        print(f'{number} * {i} = {number * i}')

In [ ]:
func()

In [27]:
# Q2. 90점 이상이면 A, 80점 이상이면 B, 70점 이상이면 C, 60점 이상이면 D,
# 그 아래 점수는 F를 주는 성적 자동 계산기 함수를 작성해보세요.
# 단, 점수는 0점부터 100점까지만 입력 가능합니다

def grade(score):
    if score < 0 or score >100:
        return '잘못된 점수'
    elif score >= 90:
        return 'A'
    elif score >= 80:
        return 'B'
    elif score >= 70:
        return 'C'
    elif score >= 60:
        return 'D'
    else:
        return 'F'

In [ ]:
grade(150)

In [34]:
# Q3. 알파벳 모음 개수를 세어 반환하는 함수를 작성해보세요.
# nice to meet you
def alpha(text):
    search = 'aeiou'
    count = 0
    for i in text:
        if i in search:
            count+=1
    return count

In [ ]:
alpha('nice to meet you')

### try, except

In [ ]:
result = 10/0

```python
try : 
    실행할 코드
except (예외종류 : 생략 가능):
    예외가 발생했을 때 실행할 코드
```

In [ ]:
try:
    result = 10/0
except ZeroDivisionError:
    print('0으로 나눌 수 없습니다')

In [ ]:
try:
    result = 10/0
except:
    print('문제가 발생했습니다')

In [ ]:
10/'ㄱ'

In [42]:
def safe():
    try:
        number = int(input('사용자에게 숫자를 입력 받습니다'))
        result = 10 / number
        return result
    except ZeroDivisionError:
        print('0으로 나눌 수 없습니다')
    except TypeError:
        print('잘못된 타입입니다.')
    except ValueError:
        print('숫자가 아닌 값을 입력했습니다')

In [ ]:
safe()

In [48]:
while True:
    number = int(input('숫자를 입력하세요. 종료하려면 0을 누르세요.'))
    if number==0:
        print('프로그램을 종료합니다')
        break
    print(f'입력한 숫자 : {number}')

ValueError: invalid literal for int() with base 10: 'f'

In [49]:
while True:
    try:
        number = int(input('숫자를 입력하세요. 종료하려면 0을 누르세요.'))
        if number==0:
            print('프로그램을 종료합니다')
            break
        print(f'입력한 숫자 : {number}')
    except ValueError:
        print('잘못된 입력입니다. 숫자를 입력하세요.')

잘못된 입력입니다. 숫자를 입력하세요.
잘못된 입력입니다. 숫자를 입력하세요.
잘못된 입력입니다. 숫자를 입력하세요.
잘못된 입력입니다. 숫자를 입력하세요.
잘못된 입력입니다. 숫자를 입력하세요.
잘못된 입력입니다. 숫자를 입력하세요.
잘못된 입력입니다. 숫자를 입력하세요.
입력한 숫자 : 4
입력한 숫자 : 2
잘못된 입력입니다. 숫자를 입력하세요.
잘못된 입력입니다. 숫자를 입력하세요.
잘못된 입력입니다. 숫자를 입력하세요.
프로그램을 종료합니다

In [54]:
# Q1. 리스트와 인덱스 매개변수로 받아 해당하는 인덱스의 값을 출력해주는 함수를 만들어보세요.
# 이 때, 범위를 벗어난 인덱스 값을 넣어도 예외로 처리될 수 있도록 처리하세요
def value(list_, index):
    try:
        return list_[index]
    except IndexError:
        return '인덱스가 리스트의 범위를 벗어났습니다.'

In [55]:
a = ['A', 'B', 'C']
value(a, 3)

'인덱스가 리스트의 범위를 벗어났습니다.'

In [59]:
# Q2. 딕셔너리와 key값을 입력받아 딕셔너리에서 해당하는 key값을 출력해주는 함수를 만들어보세요.
# 이 때, 딕셔너리에 없는 key값을 넣어도 예외로 처리될 수 있도록 처리하세요

def printtkey(dict_, key):
    try:
        return dict_[key]
    except KeyError:
        return '해당 키가 없습니다'

In [60]:
b = {'고양이':1, '강아지':2, '햄스터':3}
printtkey(b, '호랑이')

'해당 키가 없습니다'

## 3. 매개변수

- 매개변수는 함수에 입력으로 전달되는 값

In [61]:
def greet():
    print('hi')

In [62]:
greet()

hi

In [63]:
def greet_name(name):
    print(f'hi {name}')

In [64]:
greet_name('수빈')

hi 수빈

#### 여러개의 매개변수

In [65]:
def multi(a, b, c):
    d = a * b * c
    return d

In [67]:
multi(2, 3, 5) * 3

90

#### 기본값이 있는 매개변수

In [68]:
def greet(name='person'):
    print(f'안녕하세요, {name}님')

In [69]:
greet('수빈')

안녕하세요, 수빈님

In [70]:
greet()

안녕하세요, person님

#### 매개변수를 몇개를 받을지 모른다면?

In [72]:
def add_many(*num):
    result = 0
    for i in num:
        result = result + i
    return result

In [74]:
add_many(1, 2, 3, 4, 5, 6, 7, 8, 9) * 2

90

#### 매개변수의 순서

In [75]:
def info(name, age, city):
    print(f'이름 : {name}, 나이 : {age}, 사는 곳 : {city}')

In [77]:
info('서울', 20, '수빈')

이름 : 서울, 나이 : 20, 사는 곳 : 수빈

In [78]:
info(age = 20, city = '서울', name = '수빈')

이름 : 수빈, 나이 : 20, 사는 곳 : 서울

In [79]:
# Q1. 영화 정보를 출력하는 함수를 만들어보세요.
# 제목, 감독, 연도를 매개변수로 받으며 연도는 기본값이 정보없음으로 출력될 수 있게 작성해보세요.
def movie_info(title, director, year='정보 없음'):
    print(f'영화 제목 : {title}')
    print(f'감독 : {director}')
    print(f'연도 : {year}')

In [80]:
movie_info('인셉션', '크리스토퍼 놀란')

영화 제목 : 인셉션
감독 : 크리스토퍼 놀란
연도 : 정보 없음

In [81]:
# Q2. 국어, 수학, 영어 세 과목의 점수를 매개변수로 받아
# 평균 점수와 총 합계 점수를 출력하는 함수를 작성해보세요.
def scores(korean, math, english):
    total = korean + math + english
    average = total / 3
    return total, average

In [83]:
total, average = scores(80, 30, 67)
print(f'총합은 {total}, 평균은 {average}입니다.')

총합은 177, 평균은 59.0입니다.

In [84]:
# Q3. 가격과 할인율을 입력하면 할인된 가격을 출력해주는 함수를 작성해보세요.
# 할인율은 최대 100%로 하며 기본 할인율은 10%로 설정해보세요.

def discount(price, percent=10):
    if percent > 100:
        percent = 100
    final_price = price * (1 - (percent / 100))
    return final_price

In [86]:
discount(10000)

9000.0

In [87]:
# Q4. 시험 점수를 입력받아 평균을 계산하는 계산기 함수를 작성해보세요
# 이 때, 몇 개의 점수를 입력받을지는 모른다고 가정하고 작성해보세요

def average(*score):
    total = sum(score)
    average_score = total / len(score)
    return average_score

In [88]:
average(50, 60, 40)

50.0

In [89]:
# Q5. 사용자의 이름과 메시지를 매개변수로 입력받는 메시지 함수를 작성해보세요.
# 메시지는 '안녕하세요'를 기본 값으로 설정하세요 
def send_message(name, message='안녕하세요'):
    print(f'{name}님, {message}')

In [92]:
send_message(message = '메시지 먼저 넣을게', name = '수빈')

수빈님, 메시지 먼저 넣을게

## 4. 지역변수와 전역변수
- 지역변수는 함수 내부에서만 유효하며, 전역변수는 프로그램 전체에서 접근할 수 있음

In [93]:
def sample():
    x = 10
    y = 5
    print(f'함수 내부에서의 x: {x}, y: {y}')

In [94]:
sample()

함수 내부에서의 x: 10, y: 5

In [96]:
print(y)

NameError: name 'y' is not defined

- 함수 내부에서는 지역변수가 우선
- 함수 내부의 x는 전역변수와 같은 이름이지만 별도의 지역변수로 동작
- 함수 외부의 전역변수 x 값에는 영향을 미치지 않는다

In [97]:
x = 20

In [98]:
print(x)

20

In [99]:
sample()

함수 내부에서의 x: 10, y: 5

In [100]:
x = 20

def sample():
    x = 5
    print(f'함수 내부의 x값은 {x}')

sample()
print(f'함수 외부의 x값 : {x}')

함수 내부의 x값은 5
함수 외부의 x값 : 20

## 5. global
- `global` 함수를 사용하면 함수 내부에서 전역변수를 수정할 수 있음

In [102]:
def sample():
    global x
    x = 100
    print(f'함수 내부의 x값은 {x}')

sample()
print(f'함수 외부 x의 값도 {x}')

함수 내부의 x값은 100
함수 외부 x의 값도 100

In [103]:
# Q1. 함수를 호출할 때 마다 전역변수 count가 1씩 카운팅되는 함수를 만들어보세요

count = 0 

def counter():
    global count
    count+=1

In [104]:
counter()
counter()
counter()
print(f'counter :{count}')

counter :3

In [109]:
# Q2. 팩토리얼을 계산하는 함수를 작성해보세요.
# factorial(5)의 출력 예시 : 5! = 1 * 2 * 3 * 4 * 5 = 120

def factorial(n):
    result = 1
    cal = ''
    for i in range(1, n+1):
        result *= i
        if i < n:
            cal += str(i) + ' * '
        else:
            cal += str(i)
    print(f'{n}! = {cal} = {result}')

In [110]:
factorial(5)

5! = 1 * 2 * 3 * 4 * 5 = 120

In [111]:
# Q3. time 변수를 사용하여 남은 시간을 감소시키는 함수를 작성해보세요.
# 이 함수는 호출될 때 마다 남은 time을 5초씩 감소시키고
# 남은 시간이 0이하가 되면 종료되었다는 메시지를 출력합니다.

time = 30  # 전역 변수 (초 단위)

def dt():
    global time
    time -= 5
    if time<=0:
        print('시간이 종료되었습니다')
    else:
        print(f'남은 시간은 {time}초 입니다.')

In [113]:
dt()
dt()
dt()
dt()
dt()

남은 시간은 20초 입니다.
남은 시간은 15초 입니다.
남은 시간은 10초 입니다.
남은 시간은 5초 입니다.
시간이 종료되었습니다

In [114]:
# Q4. 매개변수로 숫자를 입력받아 숫자만큼 유저의 경험치를 증가시키는 함수를 작성해보세요.
# 이 함수는 호출될 때마다 유저 경험치를 증가시키며 경험치가 100이상이 되면 레벨업 메시지가 출력됩니다.

exp = 0  # 전역 변수

def levelup(point):
    global exp
    exp += point
    if exp >= 100:
        print('레벨 업!')
    else : 
        print(f'현재 경험치 : {exp}')

In [115]:
levelup(50)

현재 경험치 : 50

In [116]:
levelup(50)

레벨 업!

In [120]:
# Q5. 숫자를 입력받아 숫자를 뒤집어 출력하는 함수를 작성해보세요
# 출력 예시 : 4321 -> 1234
def reverse(n):
    if n >= 0:
        return int(str(n)[::-1])
    else : 
        return -int(str(-n)[::-1])

In [121]:
reverse(-1234)

-4321

In [124]:
# Q1. drinks = {'커피': 700, '콜라': 900, '물': 500}의 메뉴를 갖고 있는 자판기를 만들어보세요
# 1. 사용자에게 메뉴를 선택하게 하고, 2. 음료에 알맞는 금액을 투입하게 하세요
# 3. 음료의 가격을 알맞게 투입했다면 음료를 주고 거스름돈을 주세요
# 4. 음료의 가격이 다르다면 처음으로 다시 돌아가세요
# * 반복문을 강제종료할 수 있도록 '종료' 라고 입력 시 반복문을 종료할 수 있도록 제어하세요

def machine():
    drinks = {'커피': 700, '콜라': 900, '물': 500}

    while True:
        for drink, price in drinks.items():
            print(f'{drink} : {price}원')

        choice = input('음료를 선택하세요. (종료하려면 "종료"라고 입력하세요.)')
        if choice == '종료':
            print('자판기를 종료합니다.')
            break

        if choice in drinks:
            price = drinks[choice]
            payment = int(input(f'{choice}의 가격은 {price}원입니다. 금액을 투입해주세요 : '))

            if payment >= price :
                change = payment - price
                print(f'{choice}가 나왔습니다. 거스름돈은 {change}원 입니다.')
            else:
                print('금액이 부족합니다.')
        else:
            print('잘못된 선택입니다. 다시 입력하세요.')

In [125]:
machine()

커피 : 700원
콜라 : 900원
물 : 500원
커피가 나왔습니다. 거스름돈은 200원 입니다.
커피 : 700원
콜라 : 900원
물 : 500원
금액이 부족합니다.
커피 : 700원
콜라 : 900원
물 : 500원
자판기를 종료합니다.

In [123]:
drinks = {'커피': 700, '콜라': 900, '물': 500}
drinks['커피']

700

In [126]:
# Q. 사용자에게 숫자와 연산자를 입력받아 계산을 해주는 계산기를 만들어보세요.
def calculator():
    def add(x,y):
        return x+y
    
    def subtract(x,y):
        return x-y
    
    def multiply(x,y):
        return x*y
    
    def divide(x,y):
        return x/y
    
    operations = {
        '+' : add,
        '-' : subtract,
        '*' : multiply,
        '/' : divide
    }

    while True:
        print('정수 계산기를 실행합니다.')
        num1 = int(input('첫 번째 숫자를 입력하세요'))
        operator = input('연산자를 입력하세요 (+, -, *, /)')
        num2 = int(input('두 번째 숫자를 입력하세요'))

        if operator in operations:
            result = operations[operator](num1, num2)
        else:
            result = '올바른 연산자를 입력하세요'
        print(f'결과 : {result}')

        ment = input('종료하려면 종료를 입력하세요')
        if ment == '종료':
            print('계산을 종료합니다')
            break

In [127]:
calculator()

정수 계산기를 실행합니다.
결과 : 3
계산을 종료합니다


## 🌼마무리 문제

아래 문제들을 풀어보세요!

Q1. 달러 금액을 입력받아 원화로 변환하는 함수를 작성하세요.

Q2. 사용자에게 숫자를 입력받고 입력받은 숫자만큼 ‘★’을 출력하는 함수를 작성하세요.

Q3. 영어 문자열을 입력받아 문자열에 포함된 모음(a,e,i,o,u)의 개수를 세는 함수를 작성하세요.